<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class" />
    <property name="connection.url" />
    <property name="connection.username" />
    <property name="connection.password" />
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="show_sql">true</property>
    <mapping resource="Chorganisation.hbm.xml" />
    <mapping resource="Claim.hbm.xml" />
    <mapping resource="Customer.hbm.xml" />
    <mapping resource="EngineerReport.hbm.xml" />
    <mapping resource="GlobalConfiguration.hbm.xml" />
    <mapping resource="HireMonitoringDetail.hbm.xml" />
    <mapping resource="History.hbm.xml" />
    <mapping resource="Incident.hbm.xml" />
    <mapping resource="Injury.hbm.xml" />
    <mapping resource="Insurer.hbm.xml" />
    <mapping resource="Invoice.hbm.xml" />
    <mapping resource="LineOfBusiness.hbm.xml" />
    <mapping resource="Solicitor.hbm.xml" />
    <mapping resource="ThirdParty.hbm.xml" />
    <mapping resource="VehicleClass.hbm.xml" />
    <mapping resource="VehicleHire.hbm.xml" />
    <mapping resource="Witness.hbm.xml" />
  </session-factory>
</hibernate-configuration>

