<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://10.0.0.2:5432/chox_dep
        </property>
        <property name="connection.username">postgres
        </property>
        <property name="connection.password">GreenF1nCH
        </property>
        <property name="connection.driver_class">org.postgresql.Driver
        </property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect
        </property>
        <property name="show_sql">true
        </property>
        <property name="current_session_context_class">thread
        </property>
        <mapping resource="chox/model/GlobalConfiguration.hbm.xml"/>
        <mapping resource="chox/model/History.hbm.xml"/>
        <mapping resource="chox/model/WebUser.hbm.xml"/>
        <mapping resource="chox/model/WebUserRole.hbm.xml"/>
        <mapping resource="chox/model/ChoBandOrganisation.hbm.xml"/>
        <mapping resource="chox/model/Chorganisation.hbm.xml"/>
        <mapping resource="chox/model/Claim.hbm.xml"/>
        <mapping resource="chox/model/Customer.hbm.xml"/>
        <mapping resource="chox/model/EngineerReport.hbm.xml"/>
        <mapping resource="chox/model/HireMonitoringDetail.hbm.xml"/>
        <mapping resource="chox/model/Incident.hbm.xml"/>
        <mapping resource="chox/model/Injury.hbm.xml"/>
        <mapping resource="chox/model/Insurer.hbm.xml"/>
        <mapping resource="chox/model/Invoice.hbm.xml"/>
        <mapping resource="chox/model/LineOfBusiness.hbm.xml"/>
        <mapping resource="chox/model/Solicitor.hbm.xml"/>
        <mapping resource="chox/model/ThirdParty.hbm.xml"/>
        <mapping resource="chox/model/VehicleClass.hbm.xml"/>
        <mapping resource="chox/model/VehicleHire.hbm.xml"/>
        <mapping resource="chox/model/Witness.hbm.xml"/>
        <mapping resource="chox/model/ChoBand.hbm.xml"/>
        <mapping resource="chox/model/InsurerAllias.hbm.xml" />
        <mapping resource="chox/model/Accessibility.hbm.xml" />
        <mapping resource="chox/model/AccessibilityItem.hbm.xml" />
        <mapping resource="chox/model/Comment.hbm.xml" />
        <mapping resource="chox/model/Attachment.hbm.xml"/>
        <mapping resource="chox/model/HireMonitoringEcd.hbm.xml"/>
        <mapping resource="chox/model/AuditTrail.hbm.xml"/>
        <mapping resource="chox/model/ReasonOfRejection.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
