<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration debug="false" scan="true" scanPeriod="60 seconds">
    
    <appender name="C" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>logs/jmsClient.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>logs/old/%d{yyyy/MM/dd}/jmsClient.log.%i</fileNamePattern>
            <!-- keep 90 days' worth of history -->
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 5MB -->
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
    </appender>
    
    <appender name="CYCLIC"
              class="ch.qos.logback.core.read.CyclicBufferAppender">
        <MaxSize>2048</MaxSize>
    </appender>
    <logger name="idas.chox.jmsClient" level="DEBUG" additivity="false">
        <appender-ref ref="C"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="org.apache.activemq" level="INFO" additivity="false">
        <appender-ref ref="C"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="stdout"/>
    </logger>
    <root level="DEBUG">
        <appender-ref ref="stdout"/>
        <appender-ref ref="CYCLIC" />
    </root>
    
</configuration>