<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="autodetect">
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml </value>
        </property>
    </bean>
        <bean id="claimService" class="chox.services.ClaimServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="lookupService" class="chox.services.LookupServiceImpl" singleton="false"/>
    <bean id="securityInfoProvider" class="chox.web.data.WebSecurityInfoProvider" singleton="false"/>
    <bean id="accessibilityService" class="chox.services.AccessibilityServiceImpl" singleton="false"/>
    <bean id="incidentService" class="chox.services.IncidentServiceImpl" singleton="false"/>
    <bean id="commentService" class="chox.services.CommentServiceImpl" singleton="false"/>
    <bean id="customerService" class="chox.services.CustomerServiceImpl" singleton="false"/>
    <bean id="engineerReportService" class="chox.services.EngineerReportServiceImpl" singleton="false"/>
    <bean id="hireMonitoringDetailService" class="chox.services.HireMonitoringDetailServiceImpl" singleton="false"/>
    <bean id="historyService" class="chox.services.HistoryServiceImpl" singleton="false"/>
    <bean id="invoiceService" class="chox.services.InvoiceServiceImpl" singleton="false"/>
    <bean id="solicitorService" class="chox.services.SolicitorServiceImpl" singleton="false"/>
    <bean id="injuryService" class="chox.services.InjuryServiceImpl" singleton="false"/>
    <bean id="thirdPartyService" class="chox.services.ThirdPartyServiceImpl" singleton="false"/>
    <bean id="vehicleHireService" class="chox.services.VehicleHireServiceImpl" singleton="false"/>
    <bean id="vehicleClassService" class="chox.services.VehicleClassServiceImpl" singleton="false"/>
    <bean id="witnessService" class="chox.services.WitnessServiceImpl" singleton="false"/>
    <bean id="attachmentService" class="chox.services.AttachmentServiceImpl" singleton="false"/>
    <bean id="insurerService" class="chox.services.InsurerServiceImpl" singleton="false"/>
    <bean id="hireMonitoringEcdService" class="chox.services.HireMonitoringEcdServiceImpl" singleton="false"/>
    <bean id="insurerAlliasService" class="chox.services.InsurerAlliasServiceImpl" singleton="false"/>
    <bean id="chorganisationService" class="chox.services.ChorganisationServiceImpl" singleton="false"/>
    <bean id="choBandService" class="chox.services.ChoBandServiceImpl" singleton="false"/>
    <bean id="globalConfigurationService" class="chox.services.GlobalConfigurationServiceImpl" singleton="false"/> 
    <bean id="dataService" class="chox.services.SecureDataService" singleton="false"/>
    <bean id="uploadClaimXMLService" class="chox.services.UploadClaimXMLServiceImpl" singleton="false">
        <property name="vehicleClassService" ref="vehicleClassService" />
        <property name="engineerReportService" ref="engineerReportService" />
        <property name="incidentService" ref="incidentService" />
        <property name="injuryService" ref="injuryService" />
        <property name="customerService" ref="customerService" />
        <property name="claimService" ref="claimService" />
        <property name="witnessService" ref="witnessService" />
        <property name="thirdPartyService" ref="thirdPartyService" />
        <property name="vehicleHireService" ref="vehicleHireService" />
        <property name="solicitorService" ref="solicitorService" />
        <property name="invoiceService" ref="invoiceService" />
        <property name="insurerAlliasService" ref="insurerAlliasService" />
        <property name="chorganisationService" ref="chorganisationService" />
        <property name="choBandService" ref="choBandService" />
        <property name="historyService" ref="historyService" />
        <property name="auditTrailService" ref="auditTrailService" />
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
</beans> 

