<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="autodetect">
    <bean id="vehicleClassP12" class="chox.model.VehicleClass" singleton="false">
        <property name="code">P12</property>
    </bean>
</beans>
