<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-lazy-init="true"
       default-autowire="byName">
    <bean id="claimService" class="idas.chox.data.services.ClaimServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
        <property name="auditTrailService" ref="auditTrailService"/>
        <property name="appliedLiabilityService" ref="appliedLiabilityService"/>
        <property name="commentService" ref="commentService"/>
        <property name="breBandService" ref="breBandService"/>
        <property name="brePenaltyBandService" ref="brePenaltyBandService"/>
        <property name="notificationService" ref="notificationService"/>
        <property name="userService" ref="userService"/>
        <property name="insurerDiscountService" ref="insurerDiscountService"/>
    </bean>
    <bean id="brePenaltyBandService" class="idas.chox.data.services.BrePenaltyBandServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="claimMatchingBandService" class="idas.chox.data.services.ClaimMatchingBandServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="claimMatchingService" class="idas.chox.data.services.ClaimMatchingServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="breBandService" ref="breBandService"/>
        <property name="claimMatchingBandService" ref="claimMatchingBandService" />
    </bean>
    <bean id="lookupService" class="idas.chox.data.services.LookupServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="accessibilityService" class="idas.chox.data.services.AccessibilityServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="appliedLiabilityService" class="idas.chox.data.services.AppliedLiabilityServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="attachmentService" class="idas.chox.data.services.AttachmentServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="notificationService" class="idas.chox.data.services.NotificationServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="taskService" class="idas.chox.data.services.TaskServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="webUserUserRoleService" ref="webUserUserRoleService" />
    </bean>
    <bean id="vehicleClassService" class="idas.chox.data.services.VehicleClassServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <!--property name="vehicleClassPriceService" ref="vehicleClassPriceService"/-->
    </bean>
    <bean id="vehicleClassPriceService" class="idas.chox.data.services.VehicleClassPriceServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="vehicleClassPriceSpecialRateService" class="idas.chox.data.services.VehicleClassPriceSpecialRateServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="vehicleClassCeilingService" class="idas.chox.data.services.VehicleClassCeilingServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="insurerService" class="idas.chox.data.services.InsurerServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="insurerAliasService" class="idas.chox.data.services.InsurerAliasServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="chorganisationAliasService" class="idas.chox.data.services.ChorganisationAliasServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="reasonOfDelayService" class="idas.chox.data.services.ReasonOfDelayServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="attachmentTypeService" class="idas.chox.data.services.AttachmentTypeServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="chorganisationService" class="idas.chox.data.services.ChorganisationServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="breBandOrganisationService" class="idas.chox.data.services.BreBandOrganisationServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="breBandService" class="idas.chox.data.services.BreBandServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="auditTrailService" class="idas.chox.data.services.AuditTrailServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="userService" class="idas.chox.data.services.UserServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="dataService" class="idas.chox.data.services.SecureDataService" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="reasonOfRejectionService" class="idas.chox.data.services.ReasonOfRejectionServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="reasonOfRejectionTemplateService" class="idas.chox.data.services.ReasonOfRejectionTemplateServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="webUserUserRoleService" class="idas.chox.data.services.WebUserUserRoleServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="insurerChorganisationService" class="idas.chox.data.services.InsurerChorganisationServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="bordereauService" class="idas.chox.data.services.BordereauServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="uploadedXMLClaimsDetailService" class="idas.chox.data.services.UploadedXMLClaimsDetailServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="workgroupService" class="idas.chox.data.services.WorkgroupServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userWorkgroupService" class="idas.chox.data.services.UserWorkgroupServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="automaticRoutingService" class="idas.chox.data.services.AutomaticRoutingServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- billing -->
    <bean id="billingInsurerService" class="idas.chox.data.services.BillingInsurerServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="billingBandService" ref="billingBandService"/>
        <property name="billingBandMappingService" ref="billingBandMappingService"/>
    </bean>
    <bean id="billingChoService" class="idas.chox.data.services.BillingChoServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="billingInsurerDetailService" class="idas.chox.data.services.BillingInsurerDetailServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="billingChoDetailService" class="idas.chox.data.services.BillingChoDetailServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="billingBandService" class="idas.chox.data.services.BillingBandServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="billingBandMappingService" class="idas.chox.data.services.BillingBandMappingServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
        <property name="insurerChorganisationService" ref="insurerChorganisationService" />
        <property name="chorganisationService" ref="chorganisationService" />
        <property name="insurerService" ref="insurerService" />
    </bean>
    
    <bean id="insurerDiscountService" class="idas.chox.data.services.InsurerDiscountServiceImpl" scope="prototype">
        <property name="chorganisationService" ref="chorganisationService"/>
        <property name="insurerService" ref="insurerService"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>

    <bean id="commentService" class="idas.chox.data.services.CommentServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    
    <bean id="adminFeeService" class="idas.chox.data.services.AdminFeeServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="insurerIntelligentNoteService" class="idas.chox.data.services.InsurerIntelligentNoteServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="insurerService" ref="insurerService"/>
    </bean>

    <bean id="thirdPartyService" class="idas.chox.data.services.ThirdPartyServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="protocolVehicleClassCeilingService" class="idas.chox.data.services.ProtocolVehicleClassCeilingServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>