<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="autodetect">
    <bean id="claimService" class="idas.chox.data.services.ClaimServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
        <property name="auditTrailService" ref="auditTrailService"/>
    </bean>
    <bean id="lookupService" class="idas.chox.data.services.LookupServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="accessibilityService" class="idas.chox.data.services.AccessibilityServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
   
    <bean id="attachmentService" class="idas.chox.data.services.AttachmentServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="taskService" class="idas.chox.data.services.TaskServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="webUserUserRoleService" ref="webUserUserRoleService" />
    </bean>
    <bean id="vehicleClassService" class="idas.chox.data.services.VehicleClassServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <!--property name="vehicleClassPriceService" ref="vehicleClassPriceService"/-->
    </bean>
    <bean id="vehicleClassPriceService" class="idas.chox.data.services.VehicleClassPriceServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="vehicleClassPriceSpecialRateService" class="idas.chox.data.services.VehicleClassPriceSpecialRateServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="vehicleClassCeilingService" class="idas.chox.data.services.VehicleClassCeilingServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="insurerService" class="idas.chox.data.services.InsurerServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="insurerAliasService" class="idas.chox.data.services.InsurerAliasServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="reasonOfDelayService" class="idas.chox.data.services.ReasonOfDelayServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="attachmentTypeService" class="idas.chox.data.services.AttachmentTypeServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="chorganisationService" class="idas.chox.data.services.ChorganisationServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="breBandOrganisationService" class="idas.chox.data.services.BreBandOrganisationServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="breBandService" class="idas.chox.data.services.BreBandServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="auditTrailService" class="idas.chox.data.services.AuditTrailServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="userService" class="idas.chox.data.services.UserServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="dataService" class="idas.chox.data.services.SecureDataService" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="reasonOfRejectionService" class="idas.chox.data.services.ReasonOfRejectionServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="webUserUserRoleService" class="idas.chox.data.services.WebUserUserRoleServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="insurerChorganisationService" class="idas.chox.data.services.InsurerChorganisationServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="bordereauService" class="idas.chox.data.services.BordereauServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="uploadedXMLClaimsDetailService" class="idas.chox.data.services.UploadedXMLClaimsDetailServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="workgroupService" class="idas.chox.data.services.WorkgroupServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userWorkgroupService" class="idas.chox.data.services.UserWorkgroupServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="automaticRoutingService" class="idas.chox.data.services.AutomaticRoutingServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- billing -->
    <bean id="billingChoRateService" class="idas.chox.data.services.BillingChoRateServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="billingInsurerService" class="idas.chox.data.services.BillingInsurerServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="billingChoService" class="idas.chox.data.services.BillingChoServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="billingInsurerDetailService" class="idas.chox.data.services.BillingInsurerDetailServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="billingChoDetailService" class="idas.chox.data.services.BillingChoDetailServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="insurerDiscountService" class="idas.chox.data.services.InsurerDiscountServiceImpl" singleton="false">
        <property name="chorganisationService" ref="chorganisationService"/>
        <property name="insurerService" ref="insurerService"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>

</beans>