<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-lazy-init="true"
       default-autowire="byName">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close"
        p:driverClassName="org.h2.Driver"
        p:url="jdbc:h2:mem:test"
        p:username="sa"
        p:password=""/>
        
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.cache.use_query_cache">false</prop>
<!--                <prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</prop>-->
                <prop key="hibernate.hbm2ddl.auto">create</prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>hbm/History.hbm.xml</value>
                <value>hbm/WebUser.hbm.xml</value>
                <value>hbm/WebUserRole.hbm.xml</value>
                <value>hbm/BreBandOrganisation.hbm.xml</value>
                <value>hbm/Chorganisation.hbm.xml</value>
                <value>hbm/Claim.hbm.xml</value>
                <value>hbm/Customer.hbm.xml</value>
                <value>hbm/EngineerReport.hbm.xml</value>
                <value>hbm/HireMonitoringDetail.hbm.xml</value>
                <value>hbm/InsurerHireMonitoringDetail.hbm.xml</value>
                <value>hbm/Incident.hbm.xml</value>
                <value>hbm/Injury.hbm.xml</value>
                <value>hbm/Insurer.hbm.xml</value>
                <value>hbm/Invoice.hbm.xml</value>
                <value>hbm/InvoiceOriginal.hbm.xml</value>
                <value>hbm/ThirdParty.hbm.xml</value>
                <value>hbm/VehicleClass.hbm.xml</value>
                <value>hbm/VehicleClassPrice.hbm.xml</value>
                <value>hbm/VehicleClassPriceSpecialRate.hbm.xml</value>
                <value>hbm/VehicleHire.hbm.xml</value>
                <value>hbm/InsurerVehicleHire.hbm.xml</value>
                <value>hbm/Witness.hbm.xml</value>
                <value>hbm/BreBand.hbm.xml</value>
                <value>hbm/InsurerAlias.hbm.xml</value>
                <value>hbm/Accessibility.hbm.xml</value>
                <value>hbm/AccessibilityItem.hbm.xml</value>
                <value>hbm/Comment.hbm.xml</value>
                <value>hbm/Attachment.hbm.xml</value>
                <value>hbm/HireMonitoringEcd.hbm.xml</value>
                <value>hbm/InsurerHireMonitoringEcd.hbm.xml</value>
                <value>hbm/AuditTrail.hbm.xml</value>
                <value>hbm/ReasonOfRejection.hbm.xml</value>
                <value>hbm/ReasonOfRejectionTemplate.hbm.xml</value>
                <value>hbm/WebUserUserRole.hbm.xml</value>
                <value>hbm/InsurerChorganisation.hbm.xml</value>
                <value>hbm/ReasonOfDelay.hbm.xml</value>
                <value>hbm/AttachmentType.hbm.xml</value>
                <value>hbm/Bordereau.hbm.xml</value>
                <value>hbm/BordereauWithoutFile.hbm.xml</value>
                <value>hbm/Workgroup.hbm.xml</value>
                <value>hbm/WebUserWorkgroup.hbm.xml</value>
                <value>hbm/Notification.hbm.xml</value>
                <value>hbm/VehicleClassCeiling.hbm.xml</value>
                <value>hbm/ProtocolVehicleClassCeiling.hbm.xml</value>
                <value>hbm/AutomaticRoutingPolicy.hbm.xml</value>
                <value>hbm/AutomaticRoutingPrice.hbm.xml</value>
                <value>hbm/BillingCho.hbm.xml</value>
                <value>hbm/BillingChoDetail.hbm.xml</value>
                <value>hbm/BillingInsurer.hbm.xml</value>
                <value>hbm/BillingInsurerDetail.hbm.xml</value>
                <value>hbm/BillingChoRate.hbm.xml</value>
                <value>hbm/Task.hbm.xml</value>
                <value>hbm/UploadedXMLClaimsDetail.hbm.xml</value>
                <value>hbm/WebBordereau.hbm.xml</value>
                <value>hbm/PasswordHistory.hbm.xml</value>
                <value>hbm/InsurerDiscount.hbm.xml</value>
                <value>hbm/ChorganisationAlias.hbm.xml</value>
                <value>hbm/QueuedTicket.hbm.xml</value>
                <value>hbm/IPWhitelist.hbm.xml</value>
                <value>hbm/AuditEntry.hbm.xml</value>
                <value>hbm/AdminFee.hbm.xml</value>
                <value>hbm/SchedulerJob.hbm.xml</value>
                <value>hbm/AttachmentFile.hbm.xml</value>
                <value>hbm/BreRules.hbm.xml</value>
                <value>hbm/BrePenaltyBand.hbm.xml</value>
                <value>hbm/AutomaticRoutingCho.hbm.xml</value>
                <value>hbm/ClaimAuditReview.hbm.xml</value>
                <value>hbm/KeoghsRequest.hbm.xml</value>
                <value>hbm/KeoghsRequestScoreMessage.hbm.xml</value>
            </list>
        </property>
    </bean>
    <bean id="securityInfoProvider" class="idas.chox.test.FakeSecurityInfoProvider" scope="prototype"/>
    <!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>
