<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextName>reportToExcelTemplate</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} : %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="LogFile" class="ch.qos.logback.core.FileAppender">
        <File>reportToExcelTemplate.log</File>
        <Append>true</Append>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line]: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="reporttoexceltemplate" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LogFile" />
    </root>
</configuration>
