<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextName>reportToExcelTemplate</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} : %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="LogFile" class="ch.qos.logback.core.FileAppender">
        <File>reportToExcelTemplate.log</File>
        <Append>true</Append>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line]: %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>reportToExcelTemplate-%d{yyyyMMdd}.log.%i</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>7</maxHistory>
            <!-- or whenever the file size reaches 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="reporttoexceltemplate" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LogFile" />
    </root>
</configuration>
