#parse('templates/layout/generic_header.vm')

Liability Updated

Supplier reference: ${supplier_reference}
Insurer: ${insurer_name}
Insurer Claim Number: ${insurer_claim_number} 
Liability Status: ${liability_status}
Liability Percentage Agreed (Insurer): ${liability_percentage}
Insurer Claim Owner: ${insurer_claim_owner} 
Workgroup: ${workgroup}  

 ${liability_note}
 
 
#parse('templates/layout/generic_footer.vm')