<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="newECDAddedChecker" class="chox.model.notifications.ClaimAnomalousChecker" singleton="true">
        <property name="anomalousChecks">
            <list>
                <bean class="chox.model.notifications.EcdAnomalousNotificationChecker"></bean>
            </list>
        </property>
    </bean>
    <bean id="hireMonitoringDetailUpdatedChecker" class="chox.model.notifications.ClaimAnomalousChecker" singleton="true">
        <property name="anomalousChecks">
            <list>
                <bean class="chox.model.notifications.RepairBookedInOnFridayNotificationChecker"></bean>
                <bean class="chox.model.notifications.RepairBookedInOnSaturdayNotificationChecker"></bean>
                <bean class="chox.model.notifications.RepairBookedInOnSundayNotificationChecker"></bean>
            </list>
        </property>
    </bean>
</beans>
