<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="mBassadorEventBus" class="net.engio.mbassy.bus.MBassador" scope="singleton"/>
    <bean id="guavaEventBus" class="com.google.common.eventbus.EventBus" scope="singleton"/>
    <bean id="eventBus" class="idas.chox.service.workflow.event.EventBusWrapper" scope="singleton">
        <property name="useGuava" value="false" />
        <property name="mBassadorEventBus" ref="mBassadorEventBus"/>
        <property name="guavaEventBus" ref="guavaEventBus"/>
    </bean>
    <bean id="eventBusPostProcessor" class="idas.chox.service.workflow.event.EventBusPostProcessor">
        <property name="useGuava" value="false" />
        <property name="eventBus" ref="eventBus"/>
    </bean>
    <bean id="baseActivityListener" class="idas.chox.service.workflow.listeners.BaseActivityListener" scope="singleton">
        <property name="storeEvents" value="false" />
    </bean>
    <bean id="claimMatchingListener" class="idas.chox.service.workflow.listeners.ClaimMatchingListener" scope="singleton"/>
    <bean id="invoiceCreatedListener" class="idas.chox.service.workflow.listeners.InvoiceCreatedListener" scope="singleton"/>
    <bean id="deadMessageHandler" class="idas.chox.service.workflow.listeners.DeadMessageHandler" scope="singleton"/>
</beans>
