<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-autowire="byName">

    <bean id="RejectedClaims" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Rejected Claims"/>
        <property name="key" value="RejectedClaims"/>
        <property name="status" value="ClaimRejected"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="RejectedFixedFeeClaims" class="idas.chox.service.filters.FilterFixedFeeRejected" >
        <property name="name" value="Rejected Fixed Fee Claims"/>
        <property name="key" value="RejectedFixedFeeClaims"/>
        <property name="status" value="ClaimRejected"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    <bean id="RejectedSubscriberClaims" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Rejected Subscriber Claims"/>
        <property name="key" value="RejectedSubscriberClaims"/>
        <property name="status" value="SubscriberClaimRejected"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="RejectedManualClaims" class="idas.chox.service.filters.FilterManualRejected" >
        <property name="name" value="Rejected Manual Claims"/>
        <property name="key" value="RejectedManualClaims"/>
        <property name="status" value="ClaimRejected"/>
        <property name="isManualFilter" value="true"/>
        <property name="queueDescription" value="Manual claim notifications rejected by the Insurer"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ClaimsAwaitingHireMonitoringInformation" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Claims Awaiting Hire Monitoring Information"/>
        <property name="key" value="ClaimsAwaitingHireMonitoringInformation"/>
        <property name="status" value="AwaitingCarHireInfo"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="AwaitingInvoiceData" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value= "Awaiting Invoice Data"/>
        <property name="key" value= "AwaitingInvoiceData"/>
        <property name="status" value= "AwaitingInvoiceData"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
        
    <bean id="LiabilityUpdate" class="idas.chox.service.filters.FilterLiabilityStatusUpdated" >
        <property name="name" value= "Liability Status Update Notifications"/>
        <property name="key" value= "LiabilityUpdate"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="IncorrectInvoiceDataCalculations" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Incorrect Invoice Data Calculations"/>
        <property name="key" value="IncorrectInvoiceDataCalculations"/>
        <property name="status" value="InvoiceDataCalculationIncorrect"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="ContestedInvoicesReferredToCHO" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Contested Invoices Referred To CHO"/>
        <property name="key" value="ContestedInvoicesReferredToCHO"/>
        <property name="status" value="ContestedInvoiceReferredToCHO"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="PenaltyChargesApplied" class="idas.chox.service.filters.PenaltyChargesApplied" >
        <property name="name" value= "Penalty Charges To Be Applied"/>
        <property name="key" value= "PenaltyChargesApplied"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="InvoicePaymentLogged" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Payments To Be Received"/>
        <property name="key" value="InvoicePaymentLogged"/>
        <property name="status" value="InvoicePaymentLogged"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="InterimPayment" class="idas.chox.service.filters.FilterInterimPayment" >
        <property name="name" value= "Interim Payments To Be Received"/>
        <property name="key" value= "InterimPayment"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
        
    <bean id="AwaitingLitigationOutcome" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value= "Awaiting Litigation Outcome"/>
        <property name="key" value="AwaitingLitigationOutcome"/>
        <property name="status" value="AwaitingLitigationOutcome"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="NewClaimsToBeRouted" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="New Claims To Be Routed"/>
        <property name="key" value="NewClaimsToBeRouted"/>
        <property name="status" value="ClaimUnacknowledgedUnrouted"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="true"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ClaimUnacknowledgedUnassigned" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="New Claims To Be Assigned"/>
        <property name="key" value="ClaimUnacknowledgedUnassigned"/>
        <property name="status" value="ClaimUnacknowledgedUnassigned"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="true"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ClaimReferredToFNOL" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Claims To Be Registered"/>
        <property name="key" value="ClaimReferredToFNOL"/>
        <property name="status" value="ClaimReferredToFNOL"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="true"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ClaimsAwaitingAcknowledgement" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Claims Awaiting Acknowledgement"/>
        <property name="key" value="ClaimsAwaitingAcknowledgement"/>
        <property name="status" value="ClaimUnacknowledgedRouted"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="ReSubmittedClaimsAwaitingAcknowledgement" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Re-Submitted Claims Awaiting Acknowledgement"/>
        <property name="key" value="ReSubmittedClaimsAwaitingAcknowledgement"/>
        <property name="status" value="ClaimRejectionContested"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="ClaimPending" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Claims Pending"/>
        <property name="key" value="ClaimPending"/>
        <property name="status" value="ClaimPending"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="ClaimReferredToEngineer" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Claim Referred To Engineer"/>
        <property name="key" value="ClaimReferredToEngineer"/>
        <property name="status" value="ClaimReferredToEngineer"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="true"/>
    </bean>
    
    <bean id="ClaimUpdatedByEngineer" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Claims Updated By Engineer"/>
        <property name="key" value="ClaimUpdatedByEngineer"/>
        <property name="status" value="ClaimUpdatedByEngineer"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="true"/>
    </bean>

    <bean id="HireUpdateAnomalies" class="idas.chox.service.filters.HireUpdateAnomalies" >
        <property name="name" value= "Hire Update Notifications/Warnings"/>
        <property name="key" value= "HireUpdateAnomalies"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="EscalatedInvoices" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Escalated Invoices"/>
        <property name="key" value="EscalatedInvoices"/>
        <property name="status" value="InvoiceEscalated"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="true"/>
    </bean>
    
    <bean id="InvoiceEscalatedToHandler" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Escalated Invoices To Handler "/>
        <property name="key" value="InvoiceEscalatedToHandler"/>
        <property name="status" value="InvoiceEscalatedToHandler"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="InvoicesReferredToEngineer" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Invoice Referred By Claim Handler"/>
        <property name="key" value="InvoicesReferredToEngineer"/>
        <property name="status" value="InvoiceReferredToEngineer"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="true"/>
    </bean>
    
    <bean id="InvoiceReferredToClaimsHandler" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Invoice Referred By Engineer"/>
        <property name="key" value="InvoiceReferredToClaimsHandler"/>
        <property name="status" value="InvoiceReferredToClaimsHandler"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="true"/>
    </bean>
    
    <bean id="ContestedInvoicesReferredToInsurer" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Contested Invoices Referred To Insurer"/>
        <property name="key" value="ContestedInvoicesReferredToInsurer"/>
        <property name="status" value="ContestedInvoiceReferredToInsurer"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="InvoicesApprovedByBRE" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Invoices Approved By BRE"/>
        <property name="key" value="InvoicesApprovedByBRE"/>
        <property name="status" value="InvoiceApprovedByBRE"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="AwaitingLiabilityResolution" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value= "Approved Invoices Awaiting Liability Resolution"/>
        <property name="key" value="AwaitingLiabilityResolution"/>
        <property name="status" value="AwaitingLiabilityResolution"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ApprovedInvoicesAwaitingPayment" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Approved Invoices Awaiting Payment"/>
        <property name="key" value="ApprovedInvoicesAwaitingPayment"/>
        <property name="status" value="AwaitingInvoicePayment"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="PaymentTeam" class="idas.chox.service.filters.PaymentTeam" >
        <property name="name" value="Payments Team"/>
        <property name="key" value="PaymentTeam"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="InvoiceUnassigned" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Invoices To Be Assigned"/>
        <property name="key" value="InvoiceUnassigned"/>
        <property name="status" value="InvoiceUnassigned"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ManualInvoicesToBeAssigned" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Manual Invoices To Be Assigned"/>
        <property name="key" value="ManualInvoicesToBeAssigned"/>
        <property name="status" value="ManualInvoiceUnassigned"/>
        <property name="isManualFilter" value="true"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="true"/>
        <property name="isCheckOwnership" value="true"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="ManualInvoiceBREApproved" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Manual Invoices Approved By BRE"/>
        <property name="key" value="ManualInvoiceBREApproved"/>
        <property name="status" value="ManualInvoiceBREApproved"/>
        <property name="isManualFilter" value="true"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="ManualInvoiceBRERejected" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Manual Invoices Rejected By BRE"/>
        <property name="key" value="ManualInvoiceBRERejected"/>
        <property name="status" value="ManualInvoiceBRERejected"/>
        <property name="isManualFilter" value="true"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ManualInvoiceContested" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Manual Invoices Contested With CHO"/>
        <property name="key" value="ManualInvoiceContested"/>
        <property name="status" value="ManualInvoiceContested"/>
        <property name="isManualFilter" value="true"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="EscalatedInvoicesToSupervisor" class="idas.chox.service.filters.InvoiceEscalatedToSupervisor" >
        <property name="name" value="Escalated Invoices to Supervisor"/>
        <property name="key" value="EscalatedInvoicesToSupervisor"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

     <bean id="FinalReviewCho" class="idas.chox.service.filters.FinalReview" >
        <property name="name" value="Invoices With Final Review"/>
        <property name="key" value="FinalReviewCho"/>
        <property name="status" value="AwaitingLiabilityResolution"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
     <bean id="FinalReviewIns" class="idas.chox.service.filters.FinalReview" >
        <property name="name" value="Invoices With Final Review"/>
        <property name="key" value="FinalReviewIns"/>
        <property name="status" value="AwaitingLiabilityResolution"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ClaimsRequiringAudit" class="idas.chox.service.filters.ClaimsRequiringAudit" >
        <property name="name" value= "Claims Requiring Audit"/>
        <property name="key" value= "ClaimsRequiringAudit"/>
        <property name="queueDescription" value="Claims Requiring Audit"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

     <bean id="MatchedClaims" class="idas.chox.service.filters.MatchedClaims" >
        <property name="name" value="Matched Claims to be Reviewed"/>
        <property name="key" value="MatchedClaims"/>
        <property name="queueDescription" value="Claims which have been matched and require reserve to be set and claim reviewed"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isCheckClaimMatching" value="true"/>
    </bean>

</beans>
