<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="autodetect">
    <bean id="claimService" class="idas.chox.data.services.ClaimServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="lookupService" class="idas.chox.data.services.LookupServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="accessibilityService" class="idas.chox.data.services.AccessibilityServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="insurerAliasService" class="idas.chox.data.services.InsurerAliasServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="reasonOfDelayService" class="idas.chox.data.services.ReasonOfDelayServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="vehicleClassService" class="idas.chox.data.services.VehicleClassServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="vehicleClassCeilingService" class="idas.chox.data.services.VehicleClassCeilingServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>    
    <bean id="insurerService" class="idas.chox.data.services.InsurerServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>  
    <bean id="attachmentTypeService" class="idas.chox.data.services.AttachmentTypeServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="chorganisationService" class="idas.chox.data.services.ChorganisationServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="breBandOrganisationService" class="idas.chox.data.services.BreBandOrganisationServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="breBandService" class="idas.chox.data.services.BreBandServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="auditTrailService" class="idas.chox.data.services.AuditTrailServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="userService" class="idas.chox.data.services.UserServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="dataService" class="idas.chox.data.services.SecureDataService" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="reasonOfRejectionService" class="idas.chox.data.services.ReasonOfRejectionServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="webUserUserRoleService" class="idas.chox.data.services.WebUserUserRoleServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="insurerChorganisationService" class="idas.chox.data.services.InsurerChorganisationServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="bordereauService" class="idas.chox.data.services.BordereauServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="workgroupService" class="idas.chox.data.services.WorkgroupServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userWorkgroupService" class="idas.chox.data.services.UserWorkgroupServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="businessRulesEngService" class="idas.chox.service.bre.BusinessRulesEngServiceImpl" singleton="false">
        <property name="claimService" ref="claimService" />
    </bean>
    <bean id="automaticRoutingService" class="idas.chox.data.services.AutomaticRoutingServiceImpl" singleton="false">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="uploadClaimXMLService" class="idas.chox.service.xml.UploadClaimXMLServiceImpl" singleton="false">
        <property name="vehicleClassService" ref="vehicleClassService" />
        <property name="claimService" ref="claimService" />
        <property name="insurerAliasService" ref="insurerAliasService" />
        <property name="chorganisationService" ref="chorganisationService" />
        <property name="breBandService" ref="breBandService" />
        <property name="auditTrailService" ref="auditTrailService" />
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
        <property name="bordereauService" ref="bordereauService"/>
        <property name="businessRulesEngService" ref="businessRulesEngService"/>
    </bean>
    <bean id="adminUserService" class="idas.chox.service.admin.AdminUserService" singleton="false">
        <property name="insurerService" ref="insurerService" />
        <property name="chorganisationService" ref="chorganisationService" />
        <property name="webUserUserRoleService" ref="webUserUserRoleService" />
        <property name="claimService" ref="claimService" />
        <property name="userService" ref="userService" />
        <property name="workgroupService" ref="workgroupService" />
        <property name="userWorkgroupService" ref="userWorkgroupService" />
    </bean>
    <bean id="adminChorganisationService" class="idas.chox.service.admin.AdminChorganisationService" singleton="false">
        <property name="chorganisationService" ref="chorganisationService" />
    </bean>
    <bean id="adminInsurerService" class="idas.chox.service.admin.AdminInsurerService" singleton="false">
        <property name="insurerService" ref="insurerService" />
        <property name="workgroupService" ref="workgroupService" />
        <property name="breBandService" ref="breBandService" />
        <property name="automaticRoutingService" ref="automaticRoutingService" />
        <property name="chorganisationService" ref="chorganisationService" />
        <property name="breBandOrganisationService" ref="breBandOrganisationService" />
        <property name="insurerChorganisationService" ref="insurerChorganisationService" />
        <property name="insurerAliasService" ref="insurerAliasService" />
        <property name="vehicleClassCeilingService" ref="vehicleClassCeilingService" />
    </bean>
</beans>
