<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">
    <bean id="rulesEngine" class="idas.chox.core.bre.RulesEngine">
        <property name="businessRules">
            <list>
                <bean class="idas.chox.service.bre.rules.HasAllowedVehicleClass">
                    <property name="vehicleClassPriceService" ref="vehicleClassPriceService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.HasCalculatedCorrectDailyRate">
                    <property name="vehicleClassPriceService" ref="vehicleClassPriceService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.HireNetDoesNotExceedVehicleClassHireNetCeiling"></bean>
                <bean class="idas.chox.service.bre.rules.HireDayCountDoesNotExceedBandHireDayCeiling"></bean>
                <bean class="idas.chox.service.bre.rules.ActualHireDaysDoesNotExceedAllowableHireDays"></bean>
                <bean class="idas.chox.service.bre.rules.ActualHireDaysDoesNotExceedTotalLossInspection"></bean>
                <bean class="idas.chox.service.bre.rules.RepairGrossIsLessThanEstimatedTotalRepairAmount"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectHireGrossCalculation"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectHireVatCalculation"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectTotalLossGrossCalculation"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectTotalLossVatCalculation"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectRepairVatCalculation"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectRepairGrossCalculation"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectTotalNet"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectTotalVat"></bean>
                <bean class="idas.chox.service.bre.rules.HasCalculatedTotalGrossEqualSuppliedTotalGross"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectDiscountForNonDA"></bean>
                <bean class="idas.chox.service.bre.rules.HandlingAmountAndDeductionBothEqualZeroForNonDA"></bean>
                <bean class="idas.chox.service.bre.rules.ClaimHasZeroDiscountForDA"></bean>
                <bean class="idas.chox.service.bre.rules.HandlingInvoiceAmountAddedToDeductionForHandlingFeeEqualsZero"></bean>
                <bean class="idas.chox.service.bre.rules.HasSuppliedCorrectTotalToPay"></bean>
                <bean class="idas.chox.service.bre.rules.EstimatedRepairDaysPlusBandDaysDoNotExceedHireDays"></bean>
                <bean class="idas.chox.service.bre.rules.LabourCostBusinessRule"></bean>
                <bean class="idas.chox.service.bre.rules.RepairNetDoesNotExceedVehicleClassRepairNetCeiling"></bean>
                <bean class="idas.chox.service.bre.rules.NumberOfHireDaysReconcile"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectAdminFee">
                    <property name="adminFeeService" ref="adminFeeService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.RepairBookedInDateOnThursday"></bean>
                <bean class="idas.chox.service.bre.rules.RepairBookedInDateOnFriday"></bean>
                <bean class="idas.chox.service.bre.rules.FlaggedForManualInvoiceReview"></bean>
                <bean class="idas.chox.service.bre.rules.AutomaticChargeCheck"></bean>
                <bean class="idas.chox.service.bre.rules.AdditionalDriverChargeCheck"></bean>
                <bean class="idas.chox.service.bre.rules.EstateChargeCheck"></bean>
                <bean class="idas.chox.service.bre.rules.EstateChargeCheckHpi"></bean>
                <bean class="idas.chox.service.bre.rules.NonStandardRiskInsurancePremiumCheck"></bean>
                <bean class="idas.chox.service.bre.rules.MiscellaneousChargeCheck"></bean>
                <bean class="idas.chox.service.bre.rules.SatelliteNavigationChargeCheck"></bean>
                <bean class="idas.chox.service.bre.rules.BabySeatChargeCheck"></bean>
                <bean class="idas.chox.service.bre.rules.TowBarsChargeCheck"></bean>
                <bean class="idas.chox.service.bre.rules.RoofRackChargeCheck"></bean>
                <bean class="idas.chox.service.bre.rules.DeliveryOrCollectionChargeCheck"></bean>
                <bean class="idas.chox.service.bre.rules.DualControlChargeCheck"></bean>
                <bean class="idas.chox.service.bre.rules.RepairBookedInDateOnSaturday"></bean>
                <bean class="idas.chox.service.bre.rules.RepairBookedInDateOnSunday"></bean>
                <bean class="idas.chox.service.bre.rules.HireNetDoesNotExceedHireNetCeiling"></bean>
                <bean class="idas.chox.service.bre.rules.RepairNetDoesNotExceedRepairNetCeiling"></bean>
                <bean class="idas.chox.service.bre.rules.ValidateUniqueVehicleRegistrationNumber"></bean>
                <bean class="idas.chox.service.bre.rules.HireGrossSumCheck"></bean>
                <bean class="idas.chox.service.bre.rules.RepairGrossSumCheck"></bean>
                <bean class="idas.chox.service.bre.rules.TotalLossFeeGrossSumCheck"></bean>
                <bean class="idas.chox.service.bre.rules.TotalGrossSumCheck"></bean>
                <bean class="idas.chox.service.bre.rules.VehicleClassHireProvisionLikeForLike6To8"></bean>
                <bean class="idas.chox.service.bre.rules.VehicleClassHireProvisionLikeForLike8To9"></bean>
                <bean class="idas.chox.service.bre.rules.VehicleClassHireProvisionLikeForLikeOver9"></bean>
                <bean class="idas.chox.service.bre.rules.VehicleClassHireProvisionLikeForLike6To8SP"></bean>
                <bean class="idas.chox.service.bre.rules.VehicleClassHireProvisionLikeForLike8To9SP"></bean>
                <bean class="idas.chox.service.bre.rules.VehicleClassHireProvisionLikeForLikeOver9SP"></bean>
                <bean class="idas.chox.service.bre.rules.HireVatLimitCheck"></bean>
                <bean class="idas.chox.service.bre.rules.RepairVatLimitCheck"></bean>
                <bean class="idas.chox.service.bre.rules.TotalLossFeeVatLimitCheck"></bean>
                <bean class="idas.chox.service.bre.rules.TotalVatLimitCheck"></bean>
                <bean class="idas.chox.service.bre.rules.StorageRecoveryVatLimitCheck"></bean>
                <bean class="idas.chox.service.bre.rules.EngineerFeeVatLimitCheck"></bean>
                <bean class="idas.chox.service.bre.rules.HireVatHireEndCheck"></bean>
                <bean class="idas.chox.service.bre.rules.HireVatInvoicedDateCheck"></bean>
                <bean class="idas.chox.service.bre.rules.RepairVatCompletionDateCheck"></bean>
                <bean class="idas.chox.service.bre.rules.TotalLabourCostBusinessRule"></bean>
                <bean class="idas.chox.service.bre.rules.AutomaticChargeCheckWithHpiLookup"></bean>
                <bean class="idas.chox.service.bre.rules.DateRepairsCommencedFollowingHireStartCheck"></bean>
                <bean class="idas.chox.service.bre.rules.RepairsBookInDateFollowingHireStartCheckForMobileVehicles"></bean>
                <bean class="idas.chox.service.bre.rules.RepairsBookInDateFollowingHireStartCheckForNonMobileVehicles"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectSupplierAdministrationFee"></bean>
                <bean class="idas.chox.service.bre.rules.FixedRepairDaysCheck"></bean>
                <bean class="idas.chox.service.bre.rules.InsurancePremiumTaxCheck"></bean>
                <bean class="idas.chox.service.bre.rules.SupplementaryInvoiceCheck"></bean>
                <bean class="idas.chox.service.bre.rules.MobileVehicleTotalLossCheck"></bean>
                <bean class="idas.chox.service.bre.rules.SubscriberCheckRejectedClaims">
                    <property name="claimService" ref="claimService"/>                    
                </bean>
                <bean class="idas.chox.service.bre.rules.SubscriberAcquisitionFeeCheck">
                    <property name="claimService" ref="claimService"/>                    
                </bean>
                <bean class="idas.chox.service.bre.rules.SubscriberAdminFeeCheck">
                    <property name="claimService" ref="claimService"/>                    
                </bean>
                <bean class="idas.chox.service.bre.rules.FixedFeeAdminFeeCheck"></bean>
                <bean class="idas.chox.service.bre.rules.HireTerminatedAfterRepairCompletionCheck"></bean>
                <bean class="idas.chox.service.bre.rules.OverlappingHireCheck">
                    <property name="claimService" ref="claimService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.MaximumLabourRate"></bean>
                <bean class="idas.chox.service.bre.rules.MaximumLabourRateStandard"></bean>
                <bean class="idas.chox.service.bre.rules.MaximumLabourRatePrestige"></bean>
                <bean class="idas.chox.service.bre.rules.HireNetDoesNotExceedProtocolVehicleClassHireNetCeiling">
                    <property name="protocolVehicleClassCeilingService" ref="protocolVehicleClassCeilingService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.RepairNetDoesNotExceedProtocolVehicleClassRepairNetCeiling">
                    <property name="protocolVehicleClassCeilingService" ref="protocolVehicleClassCeilingService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.CompoundAutomaticChargeCheckWithHpiLookup" scope="prototype">
                    <property name="vehicleClassPriceService" ref="vehicleClassPriceService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.CompoundEstateChargeCheckWithHpiLookup" scope="prototype">
                    <property name="vehicleClassPriceService" ref="vehicleClassPriceService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.CompoundAutomaticEstateChargeCheckWithHpiLookup" scope="prototype">
                    <property name="vehicleClassPriceService" ref="vehicleClassPriceService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.ClientVatRegisteredCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.EngineerFeeVatLimitCheck" scope="prototype"></bean>
            </list>
        </property>
    </bean>
</beans>
