<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
    xmlns:p="http://www.springframework.org/schema/p"
    default-autowire="byName" >
        
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close"
        p:driverClassName="org.h2.Driver"
        p:url="jdbc:h2:mem:test"
        p:username="sa"
        p:password=""/>
    
     <!--   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"></property>
        <property name="url" value="jdbc:postgresql://localhost:5432/chox_test"></property>
        <property name="username" value="chox"/>
        <property name="password" value="id4sch0x"/>
        <property name="initialSize" value="25"/>
        <property name="maxActive" value="150"/>
    </bean> -->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="entityInterceptor">
            <ref bean="auditInterceptor"/>
        </property>
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.connection.autocommit">true</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.cache.use_query_cache">false</prop>
<!--                <prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</prop>-->
                <prop key="hibernate.hbm2ddl.auto">create</prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>hbm/History.hbm.xml</value>
                <value>hbm/WebUser.hbm.xml</value>
                <value>hbm/WebUserRole.hbm.xml</value>
                <value>hbm/BreBandOrganisation.hbm.xml</value>
                <value>hbm/Chorganisation.hbm.xml</value>
                <value>hbm/Claim.hbm.xml</value>
                <value>hbm/Customer.hbm.xml</value>
                <value>hbm/EngineerReport.hbm.xml</value>
                <value>hbm/HireMonitoringDetail.hbm.xml</value>
                <value>hbm/InsurerHireMonitoringDetail.hbm.xml</value>
                <value>hbm/Incident.hbm.xml</value>
                <value>hbm/Injury.hbm.xml</value>
                <value>hbm/Insurer.hbm.xml</value>
                <value>hbm/Invoice.hbm.xml</value>
                <value>hbm/InvoiceOriginal.hbm.xml</value>
                <value>hbm/ThirdParty.hbm.xml</value>
                <value>hbm/VehicleClass.hbm.xml</value>
                <value>hbm/VehicleClassPrice.hbm.xml</value>
                <value>hbm/VehicleClassPriceSpecialRate.hbm.xml</value>
                <value>hbm/VehicleHire.hbm.xml</value>
                <value>hbm/InsurerVehicleHire.hbm.xml</value>
                <value>hbm/Witness.hbm.xml</value>
                <value>hbm/BreBand.hbm.xml</value>
                <value>hbm/InsurerAlias.hbm.xml</value>
                <value>hbm/Accessibility.hbm.xml</value>
                <value>hbm/AccessibilityItem.hbm.xml</value>
                <value>hbm/Comment.hbm.xml</value>
                <value>hbm/Attachment.hbm.xml</value>
                <value>hbm/HireMonitoringEcd.hbm.xml</value>
                <value>hbm/InsurerHireMonitoringEcd.hbm.xml</value>
                <value>hbm/AuditTrail.hbm.xml</value>
                <value>hbm/ReasonOfRejection.hbm.xml</value>
                <value>hbm/ReasonOfRejectionTemplate.hbm.xml</value>
                <value>hbm/WebUserUserRole.hbm.xml</value>
                <value>hbm/InsurerChorganisation.hbm.xml</value>
                <value>hbm/ReasonOfDelay.hbm.xml</value>
                <value>hbm/AttachmentType.hbm.xml</value>
                <value>hbm/Bordereau.hbm.xml</value>
                <value>hbm/BordereauWithoutFile.hbm.xml</value>
                <value>hbm/Workgroup.hbm.xml</value>
                <value>hbm/WebUserWorkgroup.hbm.xml</value>
                <value>hbm/Notification.hbm.xml</value>
                <value>hbm/VehicleClassCeiling.hbm.xml</value>
                <value>hbm/ProtocolVehicleClassCeiling.hbm.xml</value>
                <value>hbm/AutomaticRoutingPolicy.hbm.xml</value>
                <value>hbm/AutomaticRoutingPrice.hbm.xml</value>
                <value>hbm/BillingCho.hbm.xml</value>
                <value>hbm/BillingChoDetail.hbm.xml</value>
                <value>hbm/BillingInsurer.hbm.xml</value>
                <value>hbm/BillingInsurerDetail.hbm.xml</value>
                <value>hbm/Task.hbm.xml</value>
                <value>hbm/UploadedXMLClaimsDetail.hbm.xml</value>
                <value>hbm/WebBordereau.hbm.xml</value>
                <value>hbm/PasswordHistory.hbm.xml</value>
                <value>hbm/InsurerDiscount.hbm.xml</value>
                <value>hbm/ChorganisationAlias.hbm.xml</value>
                <value>hbm/QueuedTicket.hbm.xml</value>
                <value>hbm/IPWhitelist.hbm.xml</value>
                <value>hbm/AuditEntry.hbm.xml</value>
                <value>hbm/AdminFee.hbm.xml</value>
                <value>hbm/SchedulerJob.hbm.xml</value>
                <value>hbm/InsurerIntelligentNote.hbm.xml</value>
                <value>hbm/AttachmentFile.hbm.xml</value>
                <value>hbm/BreRules.hbm.xml</value>
                <value>hbm/BrePenaltyBand.hbm.xml</value>
                <value>hbm/AutomaticRoutingCho.hbm.xml</value>
                <value>hbm/ClaimAuditReview.hbm.xml</value>
                <value>hbm/KeoghsRequest.hbm.xml</value>
                <value>hbm/KeoghsRequestScoreMessage.hbm.xml</value>
                <value>hbm/InsurerBillingBand.hbm.xml</value>
                <value>hbm/ChoBillingBand.hbm.xml</value>
                <value>hbm/InsurerBillingBandMapping.hbm.xml</value>
                <value>hbm/ChoBillingBandMapping.hbm.xml</value>
                <value>hbm/InvoiceSavingRule.hbm.xml</value>
                <value>hbm/ClaimMatchingBand.hbm.xml</value>
                <value>hbm/ClaimMatchingEntry.hbm.xml</value>
                <value>hbm/ClaimMatchingImportEntry.hbm.xml</value>
                <value>hbm/events/BaseActivityEvent.hbm.xml</value>
                <value>hbm/events/ClaimRoutedEvent.hbm.xml</value>
                <value>hbm/events/ClaimAcknowledgedEvent.hbm.xml</value>
                <value>hbm/events/ClaimNumberUpdatedEvent.hbm.xml</value>
                <value>hbm/events/LiabilityUpdatedEvent.hbm.xml</value>
                <value>hbm/events/AwaitingLitigationOutcomeEvent.hbm.xml</value>
                <value>hbm/events/ChoOwnerAssignedEvent.hbm.xml</value>
                <value>hbm/events/ClaimAuditReviewUpdatedEvent.hbm.xml</value>
                <value>hbm/events/ClaimClosedEvent.hbm.xml</value>
                <value>hbm/events/ClaimMatchingEvent.hbm.xml</value>
                <value>hbm/events/ClaimPendingEvent.hbm.xml</value>
                <value>hbm/events/ClaimReferredToEngEvent.hbm.xml</value>
                <value>hbm/events/ClaimReferredToFnolEvent.hbm.xml</value>
                <value>hbm/events/ClaimRegisteredByFnolEvent.hbm.xml</value>
                <value>hbm/events/ClaimRejectedEvent.hbm.xml</value>
                <value>hbm/events/ClaimRejectionAcceptedEvent.hbm.xml</value>
                <value>hbm/events/ClaimRejectionContestedEvent.hbm.xml</value>
                <value>hbm/events/ClaimResubmittedEvent.hbm.xml</value>
                <value>hbm/events/ClaimRevertedEvent.hbm.xml</value>
                <value>hbm/events/ClaimReviewedByEngEvent.hbm.xml</value>
                <value>hbm/events/ClaimSwitchedToGtaEvent.hbm.xml</value>
                <value>hbm/events/EcdUpdatedEvent.hbm.xml</value>
                <value>hbm/events/FullPaymentNotReceivedEvent.hbm.xml</value>
                <value>hbm/events/FullPaymentReceivedEvent.hbm.xml</value>
                <value>hbm/events/HireMonitoringInfoProvidedEvent.hbm.xml</value>
                <value>hbm/events/HireVehicleUpdatedEvent.hbm.xml</value>
                <value>hbm/events/InsurerOwnerAssignedEvent.hbm.xml</value>
                <value>hbm/events/InterimPaymentAcceptedAsFinalEvent.hbm.xml</value>
                <value>hbm/events/InterimPaymentReceivedEvent.hbm.xml</value>
                <value>hbm/events/InterimPaymentUpdatedEvent.hbm.xml</value>
                <value>hbm/events/InvoiceAcceptedEvent.hbm.xml</value>
                <value>hbm/events/InvoiceCreatedEvent.hbm.xml</value>
                <value>hbm/events/InvoicePaidEvent.hbm.xml</value>
                <value>hbm/events/InvoicePaymentReceivedEvent.hbm.xml</value>
                <value>hbm/events/InvoiceReferredToCHEvent.hbm.xml</value>
                <value>hbm/events/InvoiceReferredToEngEvent.hbm.xml</value>
                <value>hbm/events/InvoiceRejectedEvent.hbm.xml</value>
                <value>hbm/events/InvoiceRejectionAcceptedEvent.hbm.xml</value>
                <value>hbm/events/InvoiceRejectionContestedEvent.hbm.xml</value>
                <value>hbm/events/InvoiceSubmittedEvent.hbm.xml</value>
                <value>hbm/events/InvoiceSwitchedFromPaymentsTeamEvent.hbm.xml</value>
                <value>hbm/events/InvoiceUploadedEvent.hbm.xml</value>
                <value>hbm/events/NewClaimEvent.hbm.xml</value>
                <value>hbm/events/NoteAddedEvent.hbm.xml</value>
                <value>hbm/events/SlaExtensionGrantedEvent.hbm.xml</value>
                <value>hbm/events/SubscriberClaimRejectedToGtaEvent.hbm.xml</value>
                <value>hbm/events/SwitchChoEvent.hbm.xml</value>
                <value>hbm/events/UpdateCaseWithSolicitorEvent.hbm.xml</value>
            </list>
        </property>
    </bean>
    <bean id="securityInfoProvider" class="idas.chox.test.FakeSecurityInfoProvider" />
        <!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
    <bean id="auditInterceptor" class="idas.chox.data.DBInterceptor">
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    
</beans>
