<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="workflowContext" class="idas.chox.service.workflow.ClaimProcessWorkflowContext">
        <property name="dataService" ref="dataService" />
        <property name="businessRulesEngService" ref="businessRulesEngService" />
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
        <property name="automaticRoutingService" ref="automaticRoutingService"/>
    </bean>
    <bean id="activityFactory" class="idas.chox.service.workflow.ActivityFactory">
        <property name="workflowContext" ref="workflowContext"></property>
    </bean>
    <bean id="newClaim" class="idas.chox.service.workflow.activities.NewClaim">
        <property name="chainActivity" ref="workgroupRouting" />
    </bean>
    <bean id="autoRouting" class="idas.chox.service.workflow.activities.AutoRouting">
        <property name="chainActivity" ref="claimOwnerAssigning" />
    </bean>
    <bean id="assignOwner" class="idas.chox.service.workflow.activities.AssignOwner"/>
    <bean id="assignWorkgroup" class="idas.chox.service.workflow.activities.AssignWorkgroup">
        <property name="chainActivity" ref="claimOwnerAssigning" />
    </bean>
    <bean id="acknowledgeClaim" class="idas.chox.service.workflow.activities.AcknowledgeClaim"/>
    <bean id="workgroupRouting" class="idas.chox.service.workflow.activities.WorkgroupRouting">
        <property name="chainActivity" ref="claimOwnerAssigning" />
    </bean>
    <bean id="claimOwnerAssigning" class="idas.chox.service.workflow.activities.ClaimOwnerAssigning"/>
    <bean id="referFNOL" class="idas.chox.service.workflow.activities.ClaimReferToFnol"/>
    <bean id="registerFNOL" class="idas.chox.service.workflow.activities.ClaimRegisterByFnol"/>
    <bean id="pending" class="idas.chox.service.workflow.activities.ClaimPending"/>
    <bean id="referEng" class="idas.chox.service.workflow.activities.ClaimReferToEng"/>
    <bean id="rejectClaim" class="idas.chox.service.workflow.activities.ClaimRejection"/>
    <bean id="contestRejectedClaim" class="idas.chox.service.workflow.activities.ClaimRejectionConstest"/>
    <bean id="acceptRejectedClaim" class="idas.chox.service.workflow.activities.ClaimRejectionAccept"/>
    <bean id="updatedByEng" class="idas.chox.service.workflow.activities.ClaimReviewByEng"/>
    <bean id="awaitingCarHireInfo" class="idas.chox.service.workflow.activities.ClaimAwaitingCarHireInfo"/>
    <bean id="rejectInvoice" class="idas.chox.service.workflow.activities.InvoiceRejection"/>
    <bean id="acceptInvoice" class="idas.chox.service.workflow.activities.InvoiceAccepted"/>
    <bean id="invoiceReferToEng" class="idas.chox.service.workflow.activities.InvoiceReferToEng"/>
    <bean id="invoicePaymentLogged" class="idas.chox.service.workflow.activities.InvoicePaymentLogged"/>
    <bean id="invoicePaymentReceived" class="idas.chox.service.workflow.activities.InvoicePaymentReceived"/>
    <bean id="contestRejectedInvoice" class="idas.chox.service.workflow.activities.InvoiceRejectionConstest"/>
    <bean id="acceptRejectedInvoice" class="idas.chox.service.workflow.activities.InvoiceRejectionAccept"/>
    <bean id="invoiceReferToCH" class="idas.chox.service.workflow.activities.InvoiceReferToCH"/>
    <bean id="resubmitInvoice" class="idas.chox.service.workflow.activities.InvoiceResubmit"/>
    <bean id="newInvoice" class="idas.chox.service.workflow.activities.NewInvoice"/>
</beans>