<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="autodetect">
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml </value>
        </property>
    </bean>
    <bean id="claimService" class="chox.services.ClaimServiceImpl" singleton="false"/>
    <bean id="lookupService" class="chox.services.LookupServiceImpl" singleton="false"/>
    <bean id="securityInfoProvider" class="chox.web.data.WebSecurityInfoProvider" singleton="false"/>
    <bean id="accessibilityService" class="chox.services.AccessibilityServiceImpl" singleton="false"/>
    <bean id="incidentService" class="chox.services.IncidentServiceImpl" singleton="false"/>
    
    <bean id="commentService" class="chox.services.CommentServiceImpl" singleton="false"/>
    <bean id="customerService" class="chox.services.CustomerServiceImpl" singleton="false"/>
    <bean id="engineerReportService" class="chox.services.EngineerReportServiceImpl" singleton="false"/>
    <bean id="hireMonitoringService" class="chox.services.HireMonitoringDetailServiceImpl" singleton="false"/>
    <bean id="historyService" class="chox.services.HistoryServiceImpl" singleton="false"/>
    <bean id="invoiceService" class="chox.services.InvoiceServiceImpl" singleton="false"/>
    <bean id="solicitorService" class="chox.services.SolicitorServiceImpl" singleton="false"/>
    <bean id="thirdPartyService" class="chox.services.ThirdPartyServiceImpl" singleton="false"/>
    <bean id="vehicleHireService" class="chox.services.VehicleHireServiceImpl" singleton="false"/>
    <bean id="witnessService" class="chox.services.WitnessServiceImpl" singleton="false"/>
       
</beans> 

