<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd"
       default-autowire="byName">
       
    <bean id="RejectedClaims" class="idas.chox.service.filters.FilterRejectedClaims" >
        <property name="name" value="Rejected Claims"/>
        <property name="key" value="RejectedClaims"/>
        <property name="status" value="ClaimRejected"/>
        <property name="queueDescription" value="Claim notifications rejected by the Insurer"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="RejectedFixedFeeClaims" class="idas.chox.service.filters.FilterFixedFeeRejected" >
        <property name="name" value="Rejected Fixed Fee Claims"/>
        <property name="key" value="RejectedFixedFeeClaims"/>
        <property name="status" value="ClaimRejected"/>
        <property name="queueDescription" value="Fixed Fee claim notifications rejected by the Insurer"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    <bean id="RejectedSubscriberClaims" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Rejected Subscriber Claims"/>
        <property name="key" value="RejectedSubscriberClaims"/>
        <property name="status" value="SubscriberClaimRejected"/>
        <property name="queueDescription" value="Subscriber claim notifications rejected by the Insurer"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ClaimsAwaitingHireMonitoringInformation" class="idas.chox.service.filters.ClaimsAwaitingHireMonitoringInfoFilter" >
        <property name="name" value="Claims Awaiting Hire Monitoring Info"/>
        <property name="key" value="ClaimsAwaitingHireMonitoringInformation"/>
        <property name="status" value="AwaitingCarHireInfo"/>
        <property name="queueDescription" value="Claim notifications which have been accepted by the Insurer and the hire/repair is currently in progress"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="AwaitingInvoiceData" class="idas.chox.service.filters.ClaimsAwaitingInvoiceDataFilter" >
        <property name="name" value= "Awaiting Invoice Data"/>
        <property name="key" value= "AwaitingInvoiceData"/>
        <property name="status" value= "AwaitingInvoiceData"/>
        <property name="queueDescription" value="Claims where the hire/repair is complete and the invoice can now be uploaded against the claim"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
        
    <bean id="LiabilityUpdate" class="idas.chox.service.filters.FilterLiabilityStatusUpdated" >
        <property name="name" value= "Liability Status Update Notifications"/>
        <property name="key" value= "LiabilityUpdate"/>
        <property name="queueDescription" value="Claims which have had a liability status update made by the Insurer"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="IncorrectInvoiceDataCalculations" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Incorrect Invoice Data Calculations"/>
        <property name="key" value="IncorrectInvoiceDataCalculations"/>
        <property name="status" value="InvoiceDataCalculationIncorrect"/>
        <property name="queueDescription" value="Claims where an invoice has been uploaded but there are calculation/rate issues with the invoice that need amending before the Insurer gets sight of the claim"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="ContestedInvoicesReferredToCHO" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Contested Invoices Referred To CHO"/>
        <property name="key" value="ContestedInvoicesReferredToCHO"/>
        <property name="status" value="ContestedInvoiceReferredToCHO"/>
        <property name="queueDescription" value="Claims where the Insurer has reviewed the invoice and have comments in regards to quantum/payment which require review"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="PenaltyChargesApplied" class="idas.chox.service.filters.PenaltyChargesApplied" >
        <property name="name" value= "Penalty Charges To Be Applied"/>
        <property name="key" value= "PenaltyChargesApplied"/>
        <property name="queueDescription" value="Claims where penalty charges can be applied to the invoice due to the age of the invoice which has not yet been paid"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="InvoicePaymentLogged" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Payments To Be Received"/>
        <property name="key" value="InvoicePaymentLogged"/>
        <property name="status" value="InvoicePaymentLogged"/>
        <property name="queueDescription" value="Claims where an Insurer has made full payment on the invoice and the payment should have been sent"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="InterimPayment" class="idas.chox.service.filters.FilterInterimPayment" >
        <property name="name" value= "Interim Payments To Be Received"/>
        <property name="key" value= "InterimPayment"/>
        <property name="queueDescription" value="Claims where an Insurer has made an interim payment on the invoice and the payment should have been sent"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
        
    <bean id="AwaitingLitigationOutcome" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value= "Awaiting Litigation Outcome"/>
        <property name="key" value="AwaitingLitigationOutcome"/>
        <property name="status" value="AwaitingLitigationOutcome"/>
        <property name="queueDescription" value="Claims which will/are litigated by the CHO"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="true"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="NewClaimsToBeRouted" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="New Claims To Be Routed"/>
        <property name="key" value="NewClaimsToBeRouted"/>
        <property name="status" value="ClaimUnacknowledgedUnrouted"/>
        <property name="queueDescription" value="New claims which require a Workgroup to be assigned"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="true"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ClaimUnacknowledgedUnassigned" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="New Claims To Be Assigned"/>
        <property name="key" value="ClaimUnacknowledgedUnassigned"/>
        <property name="status" value="ClaimUnacknowledgedUnassigned"/>
        <property name="queueDescription" value="New claims which require a Claim Owner to be assigned"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="true"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ClaimReferredToFNOL" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Claims To Be Registered"/>
        <property name="key" value="ClaimReferredToFNOL"/>
        <property name="status" value="ClaimReferredToFNOL"/>
        <property name="queueDescription" value="Claims which have been sent to FNOL for claim registration on the Insurer’s internal claim system"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="true"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ClaimsAwaitingAcknowledgement" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Claims Awaiting Acknowledgement"/>
        <property name="key" value="ClaimsAwaitingAcknowledgement"/>
        <property name="status" value="ClaimUnacknowledgedRouted"/>
        <property name="queueDescription" value="Claims which require an Insurer to either acknowledge or reject a new claim notification and set the current liability stance"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="ReSubmittedClaimsAwaitingAcknowledgement" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Re-Submitted Claims Awaiting Acknowledgement"/>
        <property name="key" value="ReSubmittedClaimsAwaitingAcknowledgement"/>
        <property name="status" value="ClaimRejectionContested"/>
        <property name="queueDescription" value="New claim notifications which have previously been rejected to the CHO and the CHO have now responded with comments which require review"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="ClaimPending" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Claims Pending"/>
        <property name="key" value="ClaimPending"/>
        <property name="status" value="ClaimPending"/>
        <property name="queueDescription" value="Claims which are yet to be acknowledged/rejected and have been marked as pending by the Insurer as awaiting further information"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="ClaimReferredToEngineer" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Claim Referred To Engineer"/>
        <property name="key" value="ClaimReferredToEngineer"/>
        <property name="status" value="ClaimReferredToEngineer"/>
        <property name="queueDescription" value="New claims which have been referred by a Claims Handler to an Engineer for review"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="true"/>
    </bean>
    
    <bean id="ClaimUpdatedByEngineer" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Claims Updated By Engineer"/>
        <property name="key" value="ClaimUpdatedByEngineer"/>
        <property name="status" value="ClaimUpdatedByEngineer"/>
        <property name="queueDescription" value="New claims which have been referred by a Claims Handler to an Engineer and the Engineer has returned the claim with comments"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="true"/>
    </bean>

    <bean id="HireUpdateAnomalies" class="idas.chox.service.filters.HireUpdateAnomalies" >
        <property name="name" value= "Hire Update Notifications/Warnings"/>
        <property name="key" value= "HireUpdateAnomalies"/>
        <property name="queueDescription" value="Claims which are in hire/repair and the CHO has updated the claim e.g. LOU date update and which requires review"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="InvoiceEscalatedToHandler" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Escalated Invoices To Handler"/>
        <property name="key" value="InvoiceEscalatedToHandler"/>
        <property name="status" value="InvoiceEscalatedToHandler"/>
        <property name="queueDescription" value="Claims where the invoice has failed one or more Claims Handler type business rules and is with a Claims Handler for review"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="InvoicesReferredToEngineer" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Invoice Referred By Claim Handler"/>
        <property name="key" value="InvoicesReferredToEngineer"/>
        <property name="status" value="InvoiceReferredToEngineer"/>
        <property name="queueDescription" value="Claims with an invoice which has been reviewed by a Claims Handler and referred to an Engineer for review"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="true"/>
    </bean>
    
    <bean id="InvoiceReferredToClaimsHandler" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Invoice Referred By Engineer"/>
        <property name="key" value="InvoiceReferredToClaimsHandler"/>
        <property name="status" value="InvoiceReferredToClaimsHandler"/>
        <property name="queueDescription" value="Claims with an invoice which has been reviewed by an Engineer and referred to a Claims Handler for review"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="true"/>
    </bean>
    
    <bean id="ContestedInvoicesReferredToInsurer" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Contested Invoices Referred To Insurer"/>
        <property name="key" value="ContestedInvoicesReferredToInsurer"/>
        <property name="status" value="ContestedInvoiceReferredToInsurer"/>
        <property name="queueDescription" value="Claims where the CHO has reviewed the invoice rejection and have added comments in regards to quantum/payment which require review"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="InvoicesApprovedByBRE" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Invoices Approved By BRE"/>
        <property name="key" value="InvoicesApprovedByBRE"/>
        <property name="status" value="InvoiceApprovedByBRE"/>
        <property name="queueDescription" value="Claims with an invoice and the invoice has passed all of the business rules"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="AwaitingLiabilityResolution" class="idas.chox.service.filters.AwaitingLiabilityResolution" >
        <property name="name" value= "Approved Invoices Awaiting Liability Resolution"/>
        <property name="key" value="AwaitingLiabilityResolution"/>
        <property name="status" value="AwaitingLiabilityResolution"/>
        <property name="queueDescription" value="Claims which have been approved for payment on a quantum basis but liability has yet to be agreed"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ApprovedInvoicesAwaitingPayment" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Approved Invoices Awaiting Payment"/>
        <property name="key" value="ApprovedInvoicesAwaitingPayment"/>
        <property name="status" value="AwaitingInvoicePayment"/>
        <property name="queueDescription" value="Claims where the invoice has been approved for payment and liability is resolved, a payment awaits"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="InvoicePaymentDispute" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Payment Disputes"/>
        <property name="key" value="InvoicePaymentDispute"/>
        <property name="status" value="AwaitingInvoicePayment"/>
        <property name="queueDescription" value="Claims where the invoice has been marked as paid by the Insurer but the CHO has indicated they have not received the full payment"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="PaymentTeam" class="idas.chox.service.filters.PaymentTeam" >
        <property name="name" value="Payments Team"/>
        <property name="key" value="PaymentTeam"/>
        <property name="queueDescription" value="Claims where the invoice has been approved for payment by the Payments Team and liability is resolved, a payment awaits"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="PaymentTeamDispute" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Payments Team - Payment Disputes"/>
        <property name="key" value="PaymentTeamDispute"/>
        <property name="status" value="AwaitingInvoicePayment"/>
        <property name="queueDescription" value="Claims where the invoice has been marked as paid by the Insurer Payments Team but the CHO has indicated they have not received the full payment"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="InvoiceUnassigned" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Invoices To Be Assigned"/>
        <property name="key" value="InvoiceUnassigned"/>
        <property name="status" value="InvoiceUnassigned"/>
        <property name="queueDescription" value="TPI claims which require a Claim Owner to be assigned"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ManualInvoicesToBeAssigned" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Manual Invoices To Be Assigned"/>
        <property name="key" value="ManualInvoicesToBeAssigned"/>
        <property name="status" value="ManualInvoiceUnassigned"/>
        <property name="queueDescription" value="Manual claims which require Workgroup/Claim Owner assignment"/>
        <property name="isManualFilter" value="true"/>
        <property name="isFilterWorkGroup" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="true"/>
        <property name="isCheckOwnership" value="true"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="ManualInvoiceBREApproved" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Manual Invoices Approved By BRE"/>
        <property name="key" value="ManualInvoiceBREApproved"/>
        <property name="status" value="ManualInvoiceBREApproved"/>
        <property name="queueDescription" value="Manual claims where the invoice has passed all of the business rules"/>
        <property name="isManualFilter" value="true"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

    <bean id="ManualInvoiceBRERejected" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Manual Invoices Rejected By BRE"/>
        <property name="key" value="ManualInvoiceBRERejected"/>
        <property name="status" value="ManualInvoiceBRERejected"/>
        <property name="queueDescription" value="Manual claims where the invoice has failed one or more business rules"/>
        <property name="isManualFilter" value="true"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="ManualInvoiceContested" class="idas.chox.service.filters.FilterByStatus" >
        <property name="name" value="Manual Invoices Contested With CHO"/>
        <property name="key" value="ManualInvoiceContested"/>
        <property name="status" value="ManualInvoiceContested"/>
        <property name="queueDescription" value="Manual claims where the invoice is currently in dispute with the CHO"/>
        <property name="isManualFilter" value="true"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
    <bean id="EscalatedInvoicesToSupervisor" class="idas.chox.service.filters.InvoiceEscalatedToSupervisor" >
        <property name="name" value="Escalated Invoices to Supervisor"/>
        <property name="key" value="EscalatedInvoicesToSupervisor"/>
        <property name="queueDescription" value="Claims with an invoice, to be in this queue the invoice has either been contested a certain number of times or due to the age of the invoice"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isFilterOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

     <bean id="FinalReviewCho" class="idas.chox.service.filters.FinalReview" >
        <property name="name" value="Invoices With Final Review"/>
        <property name="key" value="FinalReviewCho"/>
        <property name="status" value="AwaitingLiabilityResolution"/>
        <property name="queueDescription" value="Claims which have an on-going liability dispute and a final stance has been made, thus eliminating unnecessary claim touch points"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>
    
     <bean id="FinalReviewIns" class="idas.chox.service.filters.FinalReview" >
        <property name="name" value="Invoices With Final Review"/>
        <property name="key" value="FinalReviewIns"/>
        <property name="status" value="AwaitingLiabilityResolution"/>
        <property name="queueDescription" value="Claims which have an on-going liability dispute and a final stance has been made, thus eliminating unnecessary claim touch points"/>
        <property name="isFilterWorkGroup" value="true"/>
        <property name="isFilterOwnership" value="true"/>
        <property name="isFilterSupplierOwnership" value="false"/>
        <property name="isCheckWorkGroup" value="false"/>
        <property name="isCheckOwnership" value="false"/>
        <property name="isCheckFnol" value="false"/>
        <property name="isCheckEngineers" value="false"/>
    </bean>

</beans>
