<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">
    <bean id="rulesEngine" class="idas.chox.core.bre.RulesEngine" scope="prototype">
        <property name="businessRules">
            <list>
                <bean class="idas.chox.service.bre.rules.HasAllowedVehicleClass" scope="prototype">
                    <property name="vehicleClassPriceService" ref="vehicleClassPriceService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.HasCalculatedCorrectDailyRate" scope="prototype">
                    <property name="vehicleClassPriceService" ref="vehicleClassPriceService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.HireNetDoesNotExceedVehicleClassHireNetCeiling" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HireDayCountDoesNotExceedBandHireDayCeiling" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.ActualHireDaysDoesNotExceedAllowableHireDays" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.ActualHireDaysDoesNotExceedTotalLossInspection" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.RepairGrossIsLessThanEstimatedTotalRepairAmount" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectHireGrossCalculation" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectHireVatCalculation" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectTotalLossGrossCalculation" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectTotalLossVatCalculation" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectRepairVatCalculation" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectRepairGrossCalculation" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectTotalNet" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectTotalVat" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HasCalculatedTotalGrossEqualSuppliedTotalGross" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectDiscountForNonDA" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HandlingAmountAndDeductionBothEqualZeroForNonDA" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.ClaimHasZeroDiscountForDA" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HandlingInvoiceAmountAddedToDeductionForHandlingFeeEqualsZero" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HasSuppliedCorrectTotalToPay" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.EstimatedRepairDaysPlusBandDaysDoNotExceedHireDays" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.LabourCostBusinessRule" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.RepairNetDoesNotExceedVehicleClassRepairNetCeiling" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.NumberOfHireDaysReconcile" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectAdminFee" scope="prototype">
                    <property name="adminFeeService" ref="adminFeeService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.RepairBookedInDateOnThursday" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.RepairBookedInDateOnFriday" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.FlaggedForManualInvoiceReview" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.AutomaticChargeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.AdditionalDriverChargeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.EstateChargeCheck"></bean>
                <bean class="idas.chox.service.bre.rules.EstateChargeCheckHpi" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.NonStandardRiskInsurancePremiumCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.MiscellaneousChargeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.SatelliteNavigationChargeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.BabySeatChargeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.TowBarsChargeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.RoofRackChargeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.DeliveryOrCollectionChargeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.DualControlChargeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.RepairBookedInDateOnSaturday" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.RepairBookedInDateOnSunday" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HireNetDoesNotExceedHireNetCeiling" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.RepairNetDoesNotExceedRepairNetCeiling" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.StorageRecoveryNetDoesNotExceedStorageRecoveryNetCeiling" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.ValidateUniqueVehicleRegistrationNumber" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HireGrossSumCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.RepairGrossSumCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.TotalLossFeeGrossSumCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.TotalGrossSumCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.VehicleClassHireProvisionLikeForLike6To8" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.VehicleClassHireProvisionLikeForLike8To9" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.VehicleClassHireProvisionLikeForLikeOver9" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.VehicleClassHireProvisionLikeForLike6To8SP" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.VehicleClassHireProvisionLikeForLike8To9SP" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.VehicleClassHireProvisionLikeForLikeOver9SP" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HireVatLimitCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.RepairVatLimitCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.TotalLossFeeVatLimitCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.TotalVatLimitCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.StorageRecoveryVatLimitCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.EngineerFeeVatLimitCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HireVatHireEndCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HireVatInvoicedDateCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.RepairVatCompletionDateCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.TotalLabourCostBusinessRule" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.AutomaticChargeCheckWithHpiLookup" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.DateRepairsCommencedFollowingHireStartCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.RepairsBookInDateFollowingHireStartCheckForMobileVehicles" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.RepairsBookInDateFollowingHireStartCheckForNonMobileVehicles" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HasCorrectSupplierAdministrationFee" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.FixedRepairDaysCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.InsurancePremiumTaxCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.SupplementaryInvoiceCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.MobileVehicleTotalLossCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.SubscriberCheckRejectedClaims" scope="prototype">
                    <property name="claimService" ref="claimService"/>                    
                </bean>
                <bean class="idas.chox.service.bre.rules.SubscriberAcquisitionFeeCheck" scope="prototype">
                    <property name="claimService" ref="claimService"/>                    
                </bean>
                <bean class="idas.chox.service.bre.rules.SubscriberAdminFeeCheck" scope="prototype">
                    <property name="claimService" ref="claimService"/>                    
                </bean>
                <bean class="idas.chox.service.bre.rules.FixedFeeAdminFeeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HireTerminatedAfterRepairCompletionCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.OverlappingHireCheck" scope="prototype">
                    <property name="claimService" ref="claimService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.MaximumLabourRate" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.MaximumLabourRateStandard" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.MaximumLabourRatePrestige" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.HireNetDoesNotExceedProtocolVehicleClassHireNetCeiling" scope="prototype">
                    <property name="protocolVehicleClassCeilingService" ref="protocolVehicleClassCeilingService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.RepairNetDoesNotExceedProtocolVehicleClassRepairNetCeiling" scope="prototype">
                    <property name="protocolVehicleClassCeilingService" ref="protocolVehicleClassCeilingService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.CompoundAutomaticChargeCheckWithHpiLookup" scope="prototype">
                    <property name="vehicleClassPriceService" ref="vehicleClassPriceService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.CompoundEstateChargeCheckWithHpiLookup" scope="prototype">
                    <property name="vehicleClassPriceService" ref="vehicleClassPriceService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.CompoundAutomaticEstateChargeCheckWithHpiLookup" scope="prototype">
                    <property name="vehicleClassPriceService" ref="vehicleClassPriceService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.ClientVatRegisteredCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.EngineerNetFeeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.TotalLossAndStorageFeeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.TotalLossFeeNetCeilingCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.EcdVsRepairCompletionDate" scope="prototype">
                    <property name="hireMonitoringEcdService" ref="hireMonitoringEcdService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.FullTotalRequestedDoesNotExceedCeiling" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.CopleyOfferMadeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.ImpecuniousCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.VedChargeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.BlankLabourRateCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.GtaAmendUploadCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.GtaAmendTotalLossOwnInsurerRoadworthy" scope="prototype">
                    <property name="bankHolidayService" ref="bankHolidayService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.GtaAmendTotalLossOwnInsurerUnroadworthy" scope="prototype">
                    <property name="bankHolidayService" ref="bankHolidayService"/>
                </bean>
                <bean class="idas.chox.service.bre.rules.TotalLossDiaryInformationCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.RepairDiaryInformationCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.DeliveryCollectionChargeCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.GtaAmendTotalLossCHOAtFaultInsurerRoadworthyCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.GtaAmendTotalLossCHOAtFaultInsurerUnroadworthyCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.GtaAmendTotalLossCHORoadworthyCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.GtaAmendTotalLossCHOUnroadworthyCheck" scope="prototype"></bean>
                <bean class="idas.chox.service.bre.rules.RepairOnUsableVehicleCheck" scope="prototype"></bean>
            </list>
        </property>
    </bean>
</beans>
