<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jms 
                           http://www.springframework.org/schema/jms/spring-jms.xsd
                           http://activemq.apache.org/schema/core 
                           http://activemq.apache.org/schema/core/activemq-core.xsd">
<!--        default-autowire="byName" -->

    <!--context:component-scan base-package="org.springbyexample.jms" /-->
    
    <!-- local broker with embedded Jms to Jms bridge -->
    <!--bean id="localBroker" class="org.apache.activemq.broker.BrokerService"
          init-method="start">
        <property name="brokerName" value="localBroker"/>
        <property name="useJmx" value="false"/>
        <property name="persistent" value="false"/>
        <property name="useShutdownHook" value="true"/>
        <property name="transportConnectorURIs"> 
            <list>
                <value>vm://localhost:7001</value>
            </list>
        </property>
        <property name="jmsBridgeConnectors">
            <list>
                <ref bean="jmsConnector"/>
            </list>
        </property>
    </bean-->
    <!--bean id="localBroker" class="org.apache.activemq.xbean.BrokerFactoryBean">
        <property name="config" value="classpath:activemq.xml" />
        <property name="start" value="true" />
    </bean-->
    <!--  Embedded ActiveMQ Broker -->
    <!--amq:broker id="choxLocalBroker" useJmx="false" persistent="false">
        <amq:transportConnectors>
            <amq:transportConnector uri="tcp://localhost:61612" />
        </amq:transportConnectors>
    </amq:broker-->

    <!-- JMS ConnectionFactory to use, configuring the embedded broker using XML -->
    <!--amq:connectionFactory id="localBrokerConnectionFactory" brokerURL="tcp://localhost:61612" /-->
    <!--amq:connectionFactory id="remoteBrokerConnectionFactory" brokerURL="tcp://localhost:61616" /-->

    <!-- JMS ConnectionFactory to use local broker (the one with the bridge) -->
    <!--bean id="localBrokerConnectionFactory"
          class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" 
                  value="tcp://localhost:61612" />
    </bean-->

    <!--JmsTopicConnector - the Jms bridge -->
    <!--bean id="jmsConnector" class="org.apache.activemq.network.jms.JmsQueueConnector">
        <property name="outboundQueueConnectionFactory" ref="remoteFactory"/>
        <property name="outboundQueueBridges">
            <list>
                <bean class="org.apache.activemq.network.jms.OutboundQueueBridge">
                    <constructor-arg value="jms/queue/foo"/>
                </bean>
            </list>
        </property>
    </bean>
    
    <bean id="remoteFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" 
                  value="failover:(tcp://localhost:61616)?maxReconnectDelay=60000" />
    </bean-->


    <!--bean id="cachingBrokerConnectionFactory"
          class="org.springframework.jms.connection.CachingConnectionFactory"
          p:targetConnectionFactory-ref="remoteBrokerConnectionFactory"
          p:sessionCacheSize="10" /-->



    <amq:broker useJmx="false" persistent="false" brokerName="localBroker">
        <amq:jmsBridgeConnectors>
            <amq:jmsQueueConnector outboundQueueConnectionFactory="#localBrokerConnectionFactory">
                <amq:inboundQueueBridges>
                    <amq:inboundQueueBridge
                            inboundQueueName = "queue.choxEvents"
                            localQueueName   = "queue.incomingMsgs.choxEvents"/>
                </amq:inboundQueueBridges>
                <amq:outboundQueueBridges>
                    <amq:outboundQueueBridge
                            localQueueName    = "queue.incomingMsgs.choxEvents"
                            outboundQueueName = "queue.choxEventLog"/>
                </amq:outboundQueueBridges>
            </amq:jmsQueueConnector>
        </amq:jmsBridgeConnectors>
    </amq:broker>
 
    <!-- JMS ConnectionFactory to use for local bridging -->
    <bean id="localBrokerConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="vm://localhost:7001" />
    </bean>
    <bean id="cachingBrokerConnectionFactory"
          class="org.springframework.jms.connection.CachingConnectionFactory"
          p:targetConnectionFactory-ref="localBrokerConnectionFactory"
          p:sessionCacheSize="10" />
    <!--  ActiveMQ Destination  -->
    <amq:queue id="queuedestination" physicalName="queue.choxEvents" />
    <!--bean id="queuedestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="jms/queue/foo" />
    </bean-->
    <bean id="queue1JMSTemplate"
          class="org.springframework.jms.core.JmsTemplate"
          p:connectionFactory-ref="cachingBrokerConnectionFactory"
          p:defaultDestination-ref="queuedestination"/>
</beans>