<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:s="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
	
    <bean id="gmailUtils" class="idas.chox.core.util.GmailUtils" scope="singleton">
    </bean>

    <bean id ="serverConfig" class="idas.chox.web.scheduler.ServerConfig" scope="singleton"/>
	
    <bean id="mailSecurityAthenticator" class="idas.chox.web.scheduler.MailSecurityAthenticator">
        <property name="authenticationManager" ref="authenticationManager" />
    </bean>
	
    <bean id="xlsFileParser" class="idas.chox.service.workflow.scheduleActivities.XlsFileParser" scope="singleton"/>
	    
    <bean id="scheduleActivityFactory" class="idas.chox.service.workflow.ScheduleActivityFactory" scope="prototype">
        <property name="workflowContext" ref="workflowContext"/>
    </bean>

    <bean id="updateEcds" class="idas.chox.service.workflow.scheduleActivities.UpdateEcds" scope="prototype">
        <property name="claimService" ref="claimService" />
        <property name="xlsFileParser" ref="xlsFileParser" />
        <property name="activityFactory" ref="activityFactory" />
    </bean>

    <bean id="updateHire" class="idas.chox.service.workflow.scheduleActivities.UpdateHire" scope="prototype">
        <property name="claimService" ref="claimService" />
        <property name="xlsFileParser" ref="xlsFileParser" />
        <property name="activityFactory" ref="activityFactory" />
        <property name="attachmentService" ref="attachmentService" />
    </bean>

    <bean id="updateLou" class="idas.chox.service.workflow.scheduleActivities.UpdateLou" scope="prototype">
        <property name="claimService" ref="claimService" />
        <property name="xlsFileParser" ref="xlsFileParser" />
        <property name="activityFactory" ref="activityFactory" />
    </bean>

    <bean id="reassignClaim" class="idas.chox.service.workflow.scheduleActivities.ClaimReassignment" scope="prototype">
        <property name="claimService" ref="claimService" />
        <property name="xlsFileParser" ref="xlsFileParser" />
        <property name="activityFactory" ref="activityFactory" />
        <property name="userService" ref="userService" />
        <property name="workgroupService" ref="workgroupService" />
        <property name="workflowContext" ref="workflowContext"/>
    </bean>

    <bean id="penaltyUpdate" class="idas.chox.service.workflow.scheduleActivities.PenaltyUpdate" scope="prototype">
        <property name="claimService" ref="claimService" />
        <property name="workflowContext" ref="workflowContext"/>
        <property name="xlsFileParser" ref="xlsFileParser" />
    </bean>

    <bean id="updateChoReference" class="idas.chox.service.workflow.scheduleActivities.UpdateChoReference" scope="prototype">
        <property name="claimService" ref="claimService" />
        <property name="workflowContext" ref="workflowContext"/>
        <property name="xlsFileParser" ref="xlsFileParser" />
    </bean>

    <bean id="totalLossPack" class="idas.chox.service.workflow.scheduleActivities.TotalLossPack" scope="prototype">
        <property name="claimService" ref="claimService" />
        <property name="workflowContext" ref="workflowContext"/>
        <property name="attachmentService" ref="attachmentService" />
        <property name="attachmentTypeService" ref="attachmentTypeService" />
    </bean>

    <bean id="attachmentUpload" class="idas.chox.service.workflow.scheduleActivities.AttachmentUpload" scope="prototype">
        <property name="claimService" ref="claimService" />
        <property name="workflowContext" ref="workflowContext"/>
        <property name="attachmentService" ref="attachmentService" />
        <property name="attachmentTypeService" ref="attachmentTypeService" />
    </bean>

    <bean id="totalLossNotification" class="idas.chox.service.workflow.scheduleActivities.TotalLossNotification" scope="prototype">
        <property name="claimService" ref="claimService" />
        <property name="workflowContext" ref="workflowContext"/>
        <property name="attachmentService" ref="attachmentService" />
        <property name="attachmentTypeService" ref="attachmentTypeService" />
    </bean>

    <bean id="totalLossTask" class="idas.chox.service.workflow.scheduleActivities.TotalLossTask" scope="prototype">
        <property name="claimService" ref="claimService" />
        <property name="activityFactory" ref="activityFactory" />
        <property name="attachmentService" ref="attachmentService" />
        <property name="attachmentTypeService" ref="attachmentTypeService" />
    </bean>

    <bean id="totalLossStopChaseTask" class="idas.chox.service.workflow.scheduleActivities.TotalLossStopChaseTask" scope="prototype">
        <property name="claimService" ref="claimService" />
    </bean>

    <!--  Keoghs Check Job -->
    <!--bean id="keoghsDbJob" class="idas.chox.web.scheduler.KeoghsSchedulerJob">
        <property name="mailSecurityAthenticator" ref="mailSecurityAthenticator"/>
        <property name="securityInfoProvider" ref="securityInfoProvider" />
        <property name="schedulerJobService" ref="schedulerJobService" />
        <property name="hostName" value="${HOSTNAME}"/>	
        <property name="serverConfig" ref="serverConfig"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="maxQueuedRequests" value="${keoghs.maxQueuedRequests}" />
        <property name="maxPendingRequests" value="${keoghs.maxPendingRequests}" />
        <property name="keoghs" ref="keoghs" />
    </bean-->
    <!--  Claim Matching Job -->
    <bean id="claimMatchingDbJob" class="idas.chox.web.scheduler.ClaimMatchingSchedulerJob">
        <property name="mailSecurityAthenticator" ref="mailSecurityAthenticator"/>
        <property name="securityInfoProvider" ref="securityInfoProvider" />
        <property name="schedulerJobService" ref="schedulerJobService" />
        <property name="hostName" value="${HOSTNAME}"/>	
        <property name="serverConfig" ref="serverConfig"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="claimMatchingService" ref="claimMatchingService" />
        <property name="activityFactory" ref="activityFactory" />
        <property name="inboundDirectoryBase" value="/shared/nfs/chox/dataload/inbound"/>	
        <property name="processedDirectory" value="/home/chox/logs/processed"/>	
        <property name="xlsx2csvLocation" value="/usr/local/bin/xlsx2csv" />
        <!--property name="inboundDirectoryBase" value="/Users/john/sprintTest/inbound"/-->	
        <!--property name="processedDirectory" value="/Users/john/sprintTest/processed"/-->	
    </bean>
    <!--  Unacknowledged Claim BulkProcessing Job -->
    <bean id="unacknowledgedClaimsDbJob" class="idas.chox.web.scheduler.UnacknowledgedClaimsBulkProcessing">
        <property name="mailSecurityAthenticator" ref="mailSecurityAthenticator"/>
        <property name="securityInfoProvider" ref="securityInfoProvider" />
        <property name="schedulerJobService" ref="schedulerJobService" />
        <property name="hostName" value="${HOSTNAME}"/>	
        <property name="serverConfig" ref="serverConfig"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="claimService" ref="claimService" />
        <property name="workgroupService" ref="workgroupService" />
        <property name="userService" ref="userService" />
        <property name="reasonOfRejectionService" ref="reasonOfRejectionService" />
        <property name="chorganisationService" ref="chorganisationService" />
        <property name="activityFactory" ref="activityFactory" />
        <property name="inboundDirectoryBase" value="/shared/nfs/chox/dataload/inbound"/>	
        <property name="processedDirectory" value="/home/chox/logs/processed"/>	
        <property name="xlsx2csvLocation" value="/usr/local/bin/xlsx2csv" />
        <!--property name="inboundDirectoryBase" value="/Users/john/sprintTest/inbound"/-->	
        <!--property name="processedDirectory" value="/Users/john/sprintTest/processed"/-->	
    </bean>
    <!--  Paid Invoices Job -->
    <bean id="paidInvoicesDbJob" class="idas.chox.web.scheduler.PaidInvoicesSchedulerJob">
        <property name="mailSecurityAthenticator" ref="mailSecurityAthenticator"/>
        <property name="securityInfoProvider" ref="securityInfoProvider" />
        <property name="schedulerJobService" ref="schedulerJobService" />
        <property name="hostName" value="${HOSTNAME}"/>	
        <property name="serverConfig" ref="serverConfig"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="claimService" ref="claimService" />
        <property name="activityFactory" ref="activityFactory" />
        <property name="inboundDirectoryBase" value="/shared/nfs/chox/dataload/inbound"/>	
        <property name="processedDirectory" value="/home/chox/logs/processed"/>	
        <!--property name="inboundDirectoryBase" value="/Users/john/sprintTest/inbound"/-->	
        <!--property name="processedDirectory" value="/Users/john/sprintTest/processed"/-->	
    </bean>
    <!--  Reference update from queued token -->
    <bean id="referenceUpdateDbJob" class="idas.chox.web.scheduler.ReferenceUpdateDbSchedulerJob">
        <property name="mailSecurityAthenticator" ref="mailSecurityAthenticator"/>
        <property name="securityInfoProvider" ref="securityInfoProvider" />
        <property name="schedulerJobService" ref="schedulerJobService" />
        <property name="hostName" value="${HOSTNAME}"/>	
        <property name="serverConfig" ref="serverConfig"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="claimService" ref="claimService" />
    </bean>
	
    <!--  IMS Claim Chase Task for Total Loss -->
    <bean id="imsChaseDbJob" class="idas.chox.web.scheduler.TotalLossChaseDbSchedulerJob">
        <property name="mailSecurityAthenticator" ref="mailSecurityAthenticator"/>
        <property name="securityInfoProvider" ref="securityInfoProvider" />
        <property name="schedulerJobService" ref="schedulerJobService" />
        <property name="hostName" value="${HOSTNAME}"/>	
        <property name="serverConfig" ref="serverConfig"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="claimService" ref="claimService" />
    </bean>
	
        
    <bean id="gmailJob" class="idas.chox.web.scheduler.GmailSchedulerJob">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="scheduleActivityFactory" ref="scheduleActivityFactory"/>
        <property name="mailSecurityAthenticator" ref="mailSecurityAthenticator"/>
        <property name="gmailSchedulerJobService" ref="gmailSchedulerJobService" />
	<property name="hostName" value="${HOSTNAME}"/>	
	<property name="active" value="${scheduler.email.active}"/>	
        <property name="serverConfig" ref="serverConfig"/>
        <property name="gmailUtils" ref="gmailUtils" />
        <property name="userService" ref="userService" />
    </bean>
	
    <!--  Stored Procedure call: addMissingEcdTask -->
    <bean id="addMissingEcdTaskJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="addMissingEcdTask"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--  Stored Procedure call: addMissingEcdTask -->
    <bean id="addInvoicePenaltyTaskJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="addInvoicePenaltyTask"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--  Stored Procedure call: applyAutoPenaltyCharge -->
    <bean id="applyAutoPenaltyChargeJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="applyAutoPenaltyCharge"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--  Stored Procedure call: updateDashboard -->
    <bean id="updateDashboardJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="updateDashboard"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!--  Stored Procedure call: updateWorkflowTables -->
    <bean id="updateWorkflowTablesJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="updateWorkflowTables"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--  Stored Procedure call: updateRemainingSlaDays -->
    <bean id="updateRemainingSlaDaysJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="updateRemainingSlaDays"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--  Stored Procedure call: hashClaims -->
    <bean id="hashClaimsJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="hashClaims"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="hashData" value="${gdpr.hashData}"/>
        <property name="hashDataPeriod" value="${gdpr.hashDataPeriod}"/>
    </bean>

    <bean id="hashVrnsJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="hashVrns"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="hashVrns" value="${gdpr.hashVrns}"/>
        <property name="hashVrnsPeriodFromCreation" value="${gdpr.hashVrnsPeriodFromCreation}"/>
        <property name="hashVrnsPeriodFromClosure" value="${gdpr.hashVrnsPeriodFromClosure}"/>
    </bean>

    <!--  Stored Procedure call: closeOldClaims -->
    <bean id="closeOldClaimsJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="closeOldClaims"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="closeClaims" value="${gdpr.closeClaims}"/>
        <property name="closeClaimsPeriod" value="${gdpr.closeClaimsPeriod}"/>
    </bean>

    <!--  Stored Procedure call: removeNotes -->
    <bean id="removeNotesJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="removeNotes"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="removeNotes" value="${gdpr.removeNotes}"/>
        <property name="removeNotesPeriod" value="${gdpr.removeNotesPeriod}"/>
        <property name="hashDataPeriod" value="${gdpr.hashDataPeriod}"/>
    </bean>

    <!--  Stored Procedure call: removeTasks -->
    <bean id="removeTasksJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="removeTasks"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="removeTasks" value="${gdpr.removeTasks}"/>
        <property name="removeTasksPeriod" value="${gdpr.removeTasksPeriod}"/>
         <property name="hashDataPeriod" value="${gdpr.hashDataPeriod}"/>
   </bean>

    <!--  Stored Procedure call: removeAttachments -->
    <bean id="removeAttachmentsJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="removeAttachments"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="removeAttachments" value="${gdpr.removeAttachments}"/>
        <property name="removeAttachmentsPeriod" value="${gdpr.removeAttachmentsPeriod}"/>
        <property name="hashDataPeriod" value="${gdpr.hashDataPeriod}"/>
    </bean>

    <!--  Stored Procedure call: deactivateUsers -->
    <bean id="deactivateUsersJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="deactivateUsers"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="deactivateUsers" value="${gdpr.deactivateUsers}"/>
        <property name="deactivateUsersPeriod" value="${gdpr.deactivateUsersPeriod}"/>
    </bean>

    <!--  Stored Procedure call: hashUserData -->
    <bean id="hashUsersJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="hashUsers"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="hashUserData" value="${gdpr.hashUserData}"/>
        <property name="hashUserDataPeriodFromDeactivate" value="${gdpr.hashUserDataPeriodFromDeactivate}"/>
        <property name="hashUserDataPeriodFromLastLogin" value="${gdpr.hashUserDataPeriodFromLastLogin}"/>
    </bean>

    <bean id="gmailJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="gmailJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
        
    <!--bean id="keoghsDbJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="keoghsDbJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean-->
        
    <bean id="claimMatchingDbJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="claimMatchingDbJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
        
    <bean id="unacknowledgedClaimsDbJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="unacknowledgedClaimsDbJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
        
    <bean id="paidInvoicesDbJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="paidInvoicesDbJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="referenceUpdateDbJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="referenceUpdateDbJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="imsChaseDbJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="imsChaseDbJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
        
    <bean id="addMissingEcdTaskJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="addMissingEcdTaskJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="addInvoicePenaltyTaskJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="addInvoicePenaltyTaskJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="applyAutoPenaltyChargeJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="applyAutoPenaltyChargeJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="updateDashboardJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="updateDashboardJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="updateWorkflowTablesJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="updateWorkflowTablesJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="updateRemainingSlaDaysJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="updateRemainingSlaDaysJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="hashClaimsJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="hashClaimsJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="hashVrnsJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="hashVrnsJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="closeOldClaimsJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="closeOldClaimsJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="removeNotesJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="removeNotesJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="removeTasksJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="removeTasksJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="removeAttachmentsJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="removeAttachmentsJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="deactivateUsersJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="deactivateUsersJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="hashUserDataJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="hashUsersJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
    
    <!-- Cron Trigger -->
    <bean id="gmailJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="gmailJobDetail" /> 
        <property name="cronExpression" value="0 0/15 7-20 ? * 1-7" />
    </bean>
    <bean id="cronRefDbUpdateTriggerWeek" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="referenceUpdateDbJobDetail" /> 
        <property name="cronExpression" value="0 1 18 ? * 2-6" /> 
    </bean>
    <!--bean id="cronKeoghsDbTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="keoghsDbJobDetail" /> 
        <property name="cronExpression" value="0 1/15 7-19 ? * 1-7" /> 
    </bean-->
    <bean id="cronClaimMatchingDbTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="claimMatchingDbJobDetail" /> 
        <property name="cronExpression" value="0 3 7-19 ? * 1-7" /> 
    </bean>
    <bean id="cronUnacknowledgedClaimsDbTriggerWeek" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="unacknowledgedClaimsDbJobDetail" /> 
        <property name="cronExpression" value="0 2 7-19 ? * 2-6" /> 
    </bean>
    <bean id="cronUnacknowledgedClaimsDbTriggerWeekend" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="unacknowledgedClaimsDbJobDetail" /> 
        <property name="cronExpression" value="0 2 7-14 ? * 1,7" /> 
    </bean>
    <bean id="cronPaidInvoicesDbTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="paidInvoicesDbJobDetail" /> 
        <property name="cronExpression" value="0 4 7-19 ? * 1-7" />
    </bean>
    <bean id="cronImsChaseTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="imsChaseDbJobDetail" />
        <property name="cronExpression" value="0 25 7 ? * 1-7" />
    </bean>
    <bean id="addMissingEcdTaskTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="addMissingEcdTaskJobDetail" /> 
        <property name="cronExpression" value="0 15 5 ? * 1-7" /> 
    </bean>
    <bean id="addInvoicePenaltyTaskTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="addInvoicePenaltyTaskJobDetail" /> 
        <property name="cronExpression" value="0 17 5 ? * 1-7" /> 
    </bean>
    <bean id="applyAutoPenaltyChargeTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="applyAutoPenaltyChargeJobDetail" /> 
        <property name="cronExpression" value="0 1 0 ? * 1-7" /> 
    </bean>
    <bean id="updateDashboardTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="updateDashboardJobDetail" /> 
        <property name="cronExpression" value="0 30 7,12,15,18 ? * 1-7" /> 
    </bean>
    <bean id="updateRemainingSlaDaysTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="updateRemainingSlaDaysJobDetail" /> 
        <property name="cronExpression" value="0 2 0 ? * 1-7" /> 
    </bean>
    <bean id="hashClaimsTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="hashClaimsJobDetail" /> 
        <property name="cronExpression" value="0 10 0 ? * 1-7" /> 
    </bean>
    <bean id="closeOldClaimsTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="closeOldClaimsJobDetail" /> 
        <property name="cronExpression" value="0 5 0 ? * 1-7" /> 
    </bean>
    <bean id="removeNotesTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="removeNotesJobDetail" /> 
        <property name="cronExpression" value="0 25 0 ? * 1-7" /> 
    </bean>
    <bean id="removeTasksTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="removeTasksJobDetail" /> 
        <property name="cronExpression" value="0 30 0 ? * 1-7" /> 
    </bean>
    <bean id="removeAttachmentsTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="removeAttachmentsJobDetail" /> 
        <property name="cronExpression" value="0 35 0 ? * 1-7" /> 
    </bean>
    <bean id="deactivateUsersTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="deactivateUsersJobDetail" /> 
        <property name="cronExpression" value="0 40 0 ? * 1-7" /> 
    </bean>
    <bean id="hashUserDataTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="hashUserDataJobDetail" /> 
        <property name="cronExpression" value="0 45 0 ? * 1-7" /> 
    </bean>
    <bean id="hashVrnsTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="hashVrnsJobDetail" /> 
        <property name="cronExpression" value="0 50 0 ? * 1-7" /> 
    </bean>
    <bean id="updateWorkflowTablesTriggerDaily" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="updateWorkflowTablesJobDetail" /> 
        <property name="cronExpression" value="0 30 23 ? * 1-7" /> 
    </bean> 


    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" destroy-method="destroy">
        <property name="autoStartup" value="${scheduler.active}" />
        <property name="schedulerName" value="cronScheduler"/>
        <property name="quartzProperties">
            <props>
                <prop key="org.quartz.jobStore.class">org.quartz.simpl.RAMJobStore</prop>
                <prop key="org.quartz.jobStore.misfireThreshold">60000</prop>
                <prop key="org.quartz.threadPool.threadCount">5</prop>
                <prop key="waitForJobsToCompleteOnShutdown">false</prop>
            </props>
        </property>
        <property name="jobDetails">
            <list>
                <!--ref bean="keoghsDbJobDetail" /-->
                <ref bean="referenceUpdateDbJobDetail" />
                <ref bean="claimMatchingDbJobDetail" />
                <ref bean="paidInvoicesDbJobDetail" />
                <ref bean="unacknowledgedClaimsDbJobDetail" />
                <ref bean="imsChaseDbJobDetail" />
                <ref bean="addMissingEcdTaskJobDetail" />
                <ref bean="addInvoicePenaltyTaskJobDetail" />
                <ref bean="applyAutoPenaltyChargeJobDetail" />
                <ref bean="updateRemainingSlaDaysJobDetail" />
                <ref bean="hashClaimsJobDetail" />
                <ref bean="hashVrnsJobDetail" />
                <ref bean="closeOldClaimsJobDetail" />
                <ref bean="removeNotesJobDetail" />
                <ref bean="removeTasksJobDetail" />
                <ref bean="removeAttachmentsJobDetail" />
                <ref bean="deactivateUsersJobDetail" />
                <ref bean="hashUserDataJobDetail" />
                <ref bean="updateDashboardJobDetail" />
                <ref bean="updateWorkflowTablesJobDetail" />
                <ref bean="gmailJobDetail" />
            </list>
        </property>
        <property name="triggers">
            <list>
                <ref bean="cronRefDbUpdateTriggerWeek" />
                <ref bean="cronClaimMatchingDbTriggerDaily" />
                <ref bean="cronPaidInvoicesDbTriggerDaily" />
                <ref bean="cronUnacknowledgedClaimsDbTriggerWeek" />
                <ref bean="cronUnacknowledgedClaimsDbTriggerWeekend" />
                <!--ref bean="cronKeoghsDbTriggerDaily" /-->
                <ref bean="cronImsChaseTriggerDaily" />
                <ref bean="addMissingEcdTaskTriggerDaily" />
                <ref bean="addInvoicePenaltyTaskTriggerDaily" />
                <ref bean="applyAutoPenaltyChargeTriggerDaily" />
                <ref bean="updateRemainingSlaDaysTriggerDaily" />
                <ref bean="hashClaimsTriggerDaily" />
                <ref bean="hashVrnsTriggerDaily" />
                <ref bean="closeOldClaimsTriggerDaily" />
                <ref bean="removeNotesTriggerDaily" />
                <ref bean="removeTasksTriggerDaily" />
                <ref bean="removeAttachmentsTriggerDaily" />
                <ref bean="deactivateUsersTriggerDaily" />
                <ref bean="hashUserDataTriggerDaily" />
                <ref bean="updateDashboardTriggerDaily" />
                <ref bean="updateWorkflowTablesTriggerDaily" />
                <ref bean="gmailJobTrigger" />
            </list>
        </property>
    </bean>

</beans>
