<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd"
       default-autowire="byName">

    <bean id="uploadServiceImpl" class="idas.chox.web.ws.UploadServiceImpl"/>
    
    <bean id="choxUsernameTokenValidator" class="idas.chox.web.ws.WSTokenValidator">
        <property name="authenticationManager" ref="authenticationManager" />
    </bean>

    
    <!--
        <bean id="nonceMemoryReplayCache" class="org.apache.wss4j.common.cache.MemoryReplayCache" /> 
        <bean id="timestampMemoryReplayCache" class="org.apache.wss4j.common.cache.MemoryReplayCache" /> 
        <bean id="samlMemoryReplayCache" class="org.apache.wss4j.common.cache.MemoryReplayCache" /> 
    -->
    <jaxws:endpoint 
        id="uploadService" 
        implementor="#uploadServiceImpl" 
        address="/UploadService">
        <jaxws:inInterceptors>

            <bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
                <constructor-arg>
                    <map>
                        <entry key="action" value="UsernameToken Timestamp"/>
                        <entry key="passwordType" value="PasswordText"/>
                    </map>
                </constructor-arg>
            </bean>

        </jaxws:inInterceptors>
        <jaxws:properties>
            <!-- Configure Timestamp validator -->
            <entry key="ws-security.timestamp.futureTimeToLive" value="60"/>
            <entry key="mtom-enabled" value="true"/>
            <!--
                <entry key="ws-security.nonce.cache.instance" value-ref="nonceMemoryReplayCache" /> 
                <entry key="ws-security.timestamp.cache.instance" value-ref="timestampMemoryReplayCache" /> 
                <entry key="ws-security.saml.cache.instance" value-ref="samlMemoryReplayCache" />
            -->
            <!-- disable caching -->
            <entry key="ws-security.enable.nonce.cache" value="false"/>
            <entry key="ws-security.enable.timestamp.cache" value="false"/>
            <entry key="ws-security.enable.saml.cache" value="false"/>
            <entry key="ws-security.ut.validator" value-ref="choxUsernameTokenValidator"/>
        </jaxws:properties> 
        <jaxws:outInterceptors>
            <bean class="idas.chox.web.ws.MTOMOutInterceptor" />
        </jaxws:outInterceptors>
    </jaxws:endpoint>

    <bean id="uploadServiceBean" class="idas.chox.web.ws.UploadServiceBean" scope="prototype">
        <property name="uploadClaimXMLService" ref="uploadClaimXMLService" />
        <property name="claimService" ref="claimService" />
        <property name="breBandService" ref="breBandService" />
        <property name="webBordereauService" ref="webBordereauService" />
        <property name="activityFactory" ref="activityFactory" />
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>

</beans>
