<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">
    <bean id="baseDataService" class="idas.chox.data.services.BaseDataService" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="claimService" class="idas.chox.data.services.ClaimServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
        <property name="auditTrailService" ref="auditTrailService"/>
        <property name="commentService" ref="commentService"/>
        <property name="userService" ref="userService"/>
        <property name="notificationService" ref="notificationService"/>
        <property name="enableActivityMonitor" value="${activity_monitor_enabled}"/>
        <property name="activityMonitorRequestInterval" value="${activity_monitor_request_interval}"/>
    </bean>
    <bean id="lookupService" class="idas.chox.data.services.LookupServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
        <property name="reasonOfRejectionService" ref="reasonOfRejectionService"/>
    </bean>
    <bean id="accessibilityService" class="idas.chox.data.services.AccessibilityServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="applicationAccessibility" class="idas.chox.service.security.ApplicationAccessibility" scope="singleton">
        <property name="accessibilityService" ref="accessibilityService"/>
    </bean>
    <bean id="attachmentService" class="idas.chox.data.services.AttachmentServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="webUserUserRoleService" ref="webUserUserRoleService" />
    </bean>
    <bean id="taskService" class="idas.chox.data.services.TaskServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="webUserUserRoleService" ref="webUserUserRoleService" />
    </bean>
    <bean id="vehicleClassService" class="idas.chox.data.services.VehicleClassServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <!--property name="vehicleClassPriceService" ref="vehicleClassPriceService"/-->
    </bean>
    <bean id="vehicleClassPriceService" class="idas.chox.data.services.VehicleClassPriceServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="breBandService" ref="breBandService"/>
    </bean>
    <bean id="adminFeeService" class="idas.chox.data.services.AdminFeeServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="vehicleClassPriceSpecialRateService" class="idas.chox.data.services.VehicleClassPriceSpecialRateServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="vehicleClassCeilingService" class="idas.chox.data.services.VehicleClassCeilingServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="historyService" class="idas.chox.data.services.HistoryServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="insurerService" class="idas.chox.data.services.InsurerServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="insurerAliasService" class="idas.chox.data.services.InsurerAliasServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="chorganisationAliasService" class="idas.chox.data.services.ChorganisationAliasServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="reasonOfDelayService" class="idas.chox.data.services.ReasonOfDelayServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="attachmentTypeService" class="idas.chox.data.services.AttachmentTypeServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="chorganisationService" class="idas.chox.data.services.ChorganisationServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="breBandOrganisationService" class="idas.chox.data.services.BreBandOrganisationServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="breBandService" class="idas.chox.data.services.BreBandServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="auditTrailService" class="idas.chox.data.services.AuditTrailServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="fullAuditService" class="idas.chox.data.services.FullAuditServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="userService" class="idas.chox.data.services.UserServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="dataService" class="idas.chox.data.services.SecureDataService" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="reportDataService" class="idas.chox.data.services.ReportDataServiceImpl" scope="prototype">
        <property name="dataService" ref="dataService"/>
        <property name="reportSessonFactory" ref="reportsSessionFactory"/>
    </bean>
    <bean id="reasonOfRejectionService" class="idas.chox.data.services.ReasonOfRejectionServiceImpl" scope="prototype">
        <property name="reasonOfRejectionTemplateService" ref="reasonOfRejectionTemplateService"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="reasonOfRejectionTemplateService" class="idas.chox.data.services.ReasonOfRejectionTemplateServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="webUserUserRoleService" class="idas.chox.data.services.WebUserUserRoleServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="insurerChorganisationService" class="idas.chox.data.services.InsurerChorganisationServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="bordereauService" class="idas.chox.data.services.BordereauServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="webBordereauService" class="idas.chox.data.services.WebBordereauServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="uploadedXMLClaimsDetailService" class="idas.chox.data.services.UploadedXMLClaimsDetailServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="workgroupService" class="idas.chox.data.services.WorkgroupServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userWorkgroupService" class="idas.chox.data.services.UserWorkgroupServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="automaticRoutingService" class="idas.chox.data.services.AutomaticRoutingServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- billing -->
    <bean id="billingChoRateService" class="idas.chox.data.services.BillingChoRateServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="billingInsurerService" class="idas.chox.data.services.BillingInsurerServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="billingChoService" class="idas.chox.data.services.BillingChoServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="billingInsurerDetailService" class="idas.chox.data.services.BillingInsurerDetailServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="billingChoDetailService" class="idas.chox.data.services.BillingChoDetailServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="businessRulesEngService" class="idas.chox.service.bre.BusinessRulesEngServiceImpl" scope="prototype">
        <property name="claimService" ref="claimService" />
        <property name="insurerService" ref="insurerService" />
        <property name="rulesEngine" ref="rulesEngine" />
        <property name="breBandService" ref="breBandService" />
        <property name="historyService" ref="historyService" />
    </bean>
    
    <bean id="bordereauSchemaValidation" class="idas.chox.service.xml.validations.BordereauSchemaValidation">
        <property name="schemaFile" value="/uploadValidation/xml-schema.xsd"/>
    </bean>
    <bean id="uploadClaimXMLService" class="idas.chox.service.xml.UploadClaimXMLServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="claimService" ref="claimService"/>
        <property name="breBandService" ref="breBandService"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
        <property name="activityFactory" ref="activityFactory"/>
    </bean>
    <bean id="adminUserService" class="idas.chox.service.admin.AdminUserService" scope="prototype">
        <property name="insurerService" ref="insurerService" />
        <property name="chorganisationService" ref="chorganisationService" />
        <property name="webUserUserRoleService" ref="webUserUserRoleService" />
        <property name="claimService" ref="claimService" />
        <property name="userService" ref="userService" />
        <property name="workgroupService" ref="workgroupService" />
        <property name="userWorkgroupService" ref="userWorkgroupService" />
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="adminChorganisationService" class="idas.chox.service.admin.AdminChorganisationService" scope="prototype">
        <property name="chorganisationService" ref="chorganisationService" />
        <property name="chorganisationAliasService" ref="chorganisationAliasService" />
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    <bean id="adminInsurerService" class="idas.chox.service.admin.AdminInsurerService" scope="prototype">
        <property name="insurerService" ref="insurerService" />
        <property name="workgroupService" ref="workgroupService" />
        <property name="breBandService" ref="breBandService" />
        <property name="reasonOfRejectionService" ref="reasonOfRejectionService" />
        <property name="automaticRoutingService" ref="automaticRoutingService" />
        <property name="chorganisationService" ref="chorganisationService" />
        <property name="breBandOrganisationService" ref="breBandOrganisationService" />
        <property name="insurerChorganisationService" ref="insurerChorganisationService" />
        <property name="insurerAliasService" ref="insurerAliasService" />
        <property name="vehicleClassCeilingService" ref="vehicleClassCeilingService" />
        <property name="claimService" ref="claimService" />
        <property name="invoiceService" ref="invoiceService" />
        <property name="insurerIntelligentNoteService" ref="insurerIntelligentNoteService" />
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>

    <bean id="filterService" class="idas.chox.service.filters.FilterServiceImpl" scope="prototype">
        <property name="applicationAccessibility" ref="applicationAccessibility"/>
        <property name="availableFilters">
            <list>
                <ref bean="RejectedClaims" />
                <ref bean="RejectedSubscriberClaims" />
                <ref bean="RejectedFixedFeeClaims" />
                <ref bean="LiabilityUpdate"/>
                <ref bean="AwaitingLitigationOutcome" />
                <ref bean="NewClaimsToBerouted" />
                <ref bean="ClaimUnacknowledgedUnassigned" />
                <ref bean="ClaimReferredToFNOL" />
                <ref bean="ClaimsAwaitingAcknowledgement" />
                <ref bean="ReSubmittedClaimsAwaitingAcknowledgement" />
                <ref bean="ClaimPending" />
                <ref bean="ClaimReferredToEngineer" />
                <ref bean="ClaimUpdatedByEngineer" />
                <ref bean="HireUpdateAnomalies" />
                <ref bean="ClaimsAwaitingHireMonitoringInformation" />
                <ref bean="AwaitingInvoiceData" />
                <ref bean="InvoiceUnassigned" />
                <ref bean="IncorrectInvoiceDataCalculations" />
                <ref bean="ContestedInvoicesReferredToCHO" />
                <ref bean="PenaltyChargesApplied" />
                <ref bean="EscalatedInvoices" />
                <ref bean="InvoiceEscalatedToHandler" />
                <ref bean="InvoicesReferredToEngineer" />
                <ref bean="InvoiceReferredToClaimsHandler" />
                <ref bean="ContestedInvoicesReferredToInsurer" />
                <ref bean="InvoicesApprovedByBRE" />
                <ref bean="AwaitingLiabilityResolution" />
                <ref bean="InterimPayment" />
                <ref bean="EscalatedInvoicesToSupervisor" />
                <ref bean="FinalReviewCho" />
                <ref bean="FinalReviewIns" />
                <ref bean="ApprovedInvoicesAwaitingPayment" />
                <ref bean="InvoicePaymentLogged" />
                <ref bean="ManualInvoicesToBeAssigned" />
                <ref bean="ManualInvoiceBREApproved" />
                <ref bean="ManualInvoiceBRERejected" />
                <ref bean="ManualInvoiceContested" />
            </list>
        </property>
    </bean>

    <bean id="billingService" class="idas.chox.service.admin.BillingService" scope="prototype">
        <property name="lookupService" ref="lookupService"/>
        <property name="insurerService" ref="insurerService"/>
        <property name="chorganisationService" ref="chorganisationService"/>
        <property name="billingChoRateService" ref="billingChoRateService"/>
        <property name="billingInsurerService" ref="billingInsurerService"/>
        <property name="billingChoService" ref="billingChoService"/>
        <property name="billingInsurerDetailService" ref="billingInsurerDetailService"/>
        <property name="billingChoDetailService" ref="billingChoDetailService"/>
    </bean>
    <bean id="insurerDiscountService" class="idas.chox.data.services.InsurerDiscountServiceImpl" scope="prototype">
        <property name="chorganisationService" ref="chorganisationService"/>
        <property name="insurerService" ref="insurerService"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>
    

    <bean id="claimObjectService" class="idas.chox.service.claim.ClaimObjectService" scope="prototype"/>
    
    <bean id="commentService" class="idas.chox.data.services.CommentServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
    </bean>

    <bean id="ipWhitelistService" class="idas.chox.data.services.IPWhitelistServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="invoiceService" class="idas.chox.data.services.InvoiceServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
        <property name="claimService" ref="claimService" />
    </bean>
    
    <bean id="schedulerJobService" class="idas.chox.data.services.SchedulerJobServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="hireMonitoringEcdService" class="idas.chox.data.services.HireMonitoringEcdServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="notificationService" ref="notificationService"/>
    </bean>
    
    <bean id="insurerIntelligentNoteService" class="idas.chox.data.services.InsurerIntelligentNoteServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="insurerService" ref="insurerService"/>
    </bean>
    
    <bean id="penaltyChargeService" class="idas.chox.data.services.PenaltyChargeServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="notificationService" class="idas.chox.data.services.NotificationServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="thirdPartyService" class="idas.chox.data.services.ThirdPartyServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="protocolVehicleClassCeilingService" class="idas.chox.data.services.ProtocolVehicleClassCeilingServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="hireMonitoringDetailService" class="idas.chox.data.services.HireMonitoringDetailServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="customerService" class="idas.chox.data.services.CustomerServiceImpl" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>