<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-autowire="byName">
    <bean id="workflowContext" class="idas.chox.service.workflow.ClaimProcessWorkflowContext" scope="prototype">
        <property name="dataService" ref="dataService" />
        <property name="businessRulesEngService" ref="businessRulesEngService" />
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
        <property name="automaticRoutingService" ref="automaticRoutingService"/>
    </bean>
    <bean id="activityFactory" class="idas.chox.service.workflow.ActivityFactory" scope="prototype">
        <property name="workflowContext" ref="workflowContext"/>
    </bean>
    <bean id="newClaim" class="idas.chox.service.workflow.activities.NewClaim" scope="prototype">
        <property name="chainActivity" ref="workgroupRouting" />
        <property name="breBandService" ref="breBandService" />
    </bean>
    <bean id="workgroupRouting" class="idas.chox.service.workflow.activities.WorkgroupRouting" scope="prototype"/>
    <bean id="assignOwner" class="idas.chox.service.workflow.activities.AssignOwner" scope="prototype"/>
    <bean id="assignSupplierOwner" class="idas.chox.service.workflow.activities.AssignSupplierOwner" scope="prototype"/>
    <bean id="assignWorkgroup" class="idas.chox.service.workflow.activities.AssignWorkgroup" scope="prototype"/>
    <bean id="assignManualInvoiceOwner" class="idas.chox.service.workflow.activities.AssignManualInvoiceOwner" scope="prototype"/>
    <bean id="acknowledgeClaim" class="idas.chox.service.workflow.activities.AcknowledgeClaim" scope="prototype"/>
    <bean id="referFNOL" class="idas.chox.service.workflow.activities.ClaimReferToFnol" scope="prototype"/>
    <bean id="registerFNOL" class="idas.chox.service.workflow.activities.ClaimRegisterByFnol" scope="prototype"/>
    <bean id="pending" class="idas.chox.service.workflow.activities.ClaimPending" scope="prototype"/>
    <bean id="referEng" class="idas.chox.service.workflow.activities.ClaimReferToEng" scope="prototype"/>
    <bean id="rejectClaim" class="idas.chox.service.workflow.activities.ClaimRejection" scope="prototype"/>
    <bean id="contestRejectedClaim" class="idas.chox.service.workflow.activities.ClaimRejectionContest" scope="prototype"/>
    <bean id="acceptRejectedClaim" class="idas.chox.service.workflow.activities.ClaimRejectionAccept" scope="prototype">
        <property name="taskService" ref="taskService" />
    </bean>
    <bean id="acceptSubscriberChallenge" class="idas.chox.service.workflow.activities.SubscriberClaimRejectionAccept" scope="prototype">
        <property name="reasonOfRejectionService" ref="reasonOfRejectionService" />
        <property name="taskService" ref="taskService" />
    </bean>
    <bean id="sendClaimGTA" class="idas.chox.service.workflow.activities.SubscriberClaimToGta" scope="prototype">
        <property name="auditTrailService" ref="auditTrailService" />
    </bean>
    <bean id="updatedByEng" class="idas.chox.service.workflow.activities.ClaimReviewByEng" scope="prototype"/>
    <bean id="awaitingCarHireInfo" class="idas.chox.service.workflow.activities.ClaimAwaitingCarHireInfo" scope="prototype"/>
    <bean id="rejectInvoice" class="idas.chox.service.workflow.activities.InvoiceRejection" scope="prototype"/>
    <bean id="acceptInvoice" class="idas.chox.service.workflow.activities.InvoiceAccepted" scope="prototype"/>
    <bean id="invoiceReferToEng" class="idas.chox.service.workflow.activities.InvoiceReferToEng" scope="prototype"/>
    <bean id="invoicePaymentLogged" class="idas.chox.service.workflow.activities.InvoicePaymentLogged" scope="prototype"/>
    <bean id="invoicePaymentReceived" class="idas.chox.service.workflow.activities.InvoicePaymentReceived" scope="prototype"/>
	<bean id="fullInvoicePaymentReceived" class="idas.chox.service.workflow.activities.FullInvoicePaymentReceived" scope="prototype"/>
    <bean id="contestRejectedInvoice" class="idas.chox.service.workflow.activities.InvoiceRejectionContest" scope="prototype"/>
    <bean id="acceptRejectedInvoice" class="idas.chox.service.workflow.activities.InvoiceRejectionAccept" scope="prototype"/>
    <bean id="invoiceReferToCH" class="idas.chox.service.workflow.activities.InvoiceReferToCH" scope="prototype"/>
    <bean id="resubmitInvoice" class="idas.chox.service.workflow.activities.InvoiceResubmit" scope="prototype">
        <property name="chainActivity" ref="newTpiClaim" />
    </bean>
    <bean id="newInvoice" class="idas.chox.service.workflow.activities.NewInvoice" scope="prototype">
        <property name="chainActivity" ref="newTpiClaim" />
        <property name="insurerDiscountService" ref="insurerDiscountService" />
        <property name="vehicleClassPriceService" ref="vehicleClassPriceService" />
    </bean>
    <bean id="insurerUpload" class="idas.chox.service.workflow.activities.InsurerUpload" scope="prototype">
        <property name="breBandService" ref="breBandService" />
    </bean>
    <bean id="newTpiClaim" class="idas.chox.service.workflow.activities.NewTpiClaim" scope="prototype"/>
    <bean id="closeClaim" class="idas.chox.service.workflow.activities.CloseClaim" scope="prototype"/>
    <bean id="reopenClaim" class="idas.chox.service.workflow.activities.ReopenClaim" scope="prototype"/>
    <bean id="resolveLiability" class="idas.chox.service.workflow.activities.ResolveLiability" scope="prototype"/>
    <bean id="updateLiability" class="idas.chox.service.workflow.activities.UpdateLiability" scope="prototype"/>
    <bean id="revertClaim" class="idas.chox.service.workflow.activities.RevertClaim" scope="prototype">
        <property name="breBandService" ref="breBandService" />
    </bean>
    <bean id="paymentNotReceived" class="idas.chox.service.workflow.activities.PaymentNotReceived" scope="prototype">
        <property name="breBandService" ref="breBandService" />
    </bean>
    <bean id="switchClaim" class="idas.chox.service.workflow.activities.SwitchClaim" scope="prototype">
        <property name="chainActivity" ref="newClaim" />
        <property name="auditTrailService" ref="auditTrailService" />
        <property name="notificationService" ref="notificationService" />
    </bean>
    <bean id="switchClaimToMulIns" class="idas.chox.service.workflow.activities.SwitchClaimToMultipleInsurer" scope="prototype">
        <property name="chainActivity" ref="newClaim" />
        <property name="insurerService" ref="insurerService" />
        <property name="auditTrailService" ref="auditTrailService" />
        <property name="commentService" ref="commentService" />
        <property name="taskService" ref="taskService" />
        <property name="notificationService" ref="notificationService" />
    </bean>
    <bean id="slaExtensionDaysUpdate" class="idas.chox.service.workflow.activities.SlaExtension" scope="prototype">
    </bean>
    <bean id="supplementaryInvoice" class="idas.chox.service.workflow.activities.NewSupplementaryInvoice" scope="prototype">
        <property name="chainActivity" ref="newInvoice" />
    </bean>
    <bean id="supplementaryInsurerInvoice" class="idas.chox.service.workflow.activities.NewSupplementaryInvoice" scope="prototype">
        <property name="chainActivity" ref="insurerUpload" />
    </bean>
    <bean id="updateInterimPaymentFullAndFinal" class="idas.chox.service.workflow.activities.UpdateInterimPaymentFullAndFinal" scope="prototype">
        <property name="chainActivity" ref="invoicePaymentReceived" />
    </bean>
    <bean id="updateInterimPaymentReceived" class="idas.chox.service.workflow.activities.UpdateInterimPaymentReceived" scope="prototype" />
    <bean id="moveToInvoicePaymentLogged" class="idas.chox.service.workflow.activities.MoveToInvoicePaymentLogged" scope="prototype">
        <property name="chainActivity" ref="invoicePaymentReceived" />
    </bean>
    <bean id="updateManualInvoicePaid" class="idas.chox.service.workflow.activities.UpdateManualInvoicePaid" scope="prototype"/>
    <bean id="updateManualInvoiceAgreeQuantum" class="idas.chox.service.workflow.activities.UpdateManualInvoiceAgreeQuantum" scope="prototype"/>
    <bean id="updateManualInvoiceContested" class="idas.chox.service.workflow.activities.UpdateManualInvoiceContested" scope="prototype"/>
    <bean id="awaitingLitigationOutcome" class="idas.chox.service.workflow.activities.AwaitingLitigationOutcome" scope="prototype"/>
    <bean id="makeInterimPayment" class="idas.chox.service.workflow.activities.MakeInterimPayment" scope="prototype"/>
    <bean id="fullPaymentNotReceived" class="idas.chox.service.workflow.activities.FullPaymentNotReceived" scope="prototype">
        <property name="chainActivity" ref="revertClaim" />
    </bean>
    <bean id="ecdUpdate" class="idas.chox.service.workflow.activities.EcdUpdate" scope="prototype">
        <property name="hireMonitoringEcdService" ref="hireMonitoringEcdService" />
        <property name="reasonOfDelayService" ref="reasonOfDelayService" />
    </bean>
</beans>