<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <security:http auto-config="false" entry-point-ref="authenticationProcessingFilterEntryPoint">
        <security:intercept-url pattern="/user/**"         access="ROLE_CHO,ROLE_INS,ROLE_CHOX" />
        <security:intercept-url pattern="/**"              filters="none" />
    </security:http>

    <security:authentication-provider user-service-ref="userDetailsService">
        <security:password-encoder hash="md5"/>
    </security:authentication-provider>

    <security:authentication-manager alias="authenticationManager" />

    <bean id="authenticationProcessingFilter" class="idas.chox.web.security.CustomAuthenticationProcessingFilter" autowire="byType">
        <security:custom-filter position="AUTHENTICATION_PROCESSING_FILTER" />
        <property name="defaultTargetUrl" value="/user/inbox.action" />
        <property name="alwaysUseDefaultTargetUrl"  value="true" />
        <property name="authenticationManager" ref="authenticationManager" />
        <property name="passwordExpiredUrl"  value="/user/openUserAccount.action" />
    </bean>

    <bean id="authenticationProcessingFilterEntryPoint" class="idas.chox.web.security.CustomAuthenticationProcessingFilterEntryPoint">
        <property name="loginFormUrl" value="/login.action" />
        <property name="forceHttps" value="false" />
    </bean>
</beans>
