<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="imapMailReceiver" class="idas.chox.web.scheduler.ImapMailReceiver" scope="singleton">
		<property name="userDetailsService" ref="userDetailsService" />
		<property name="authenticationManagerMod" ref="authenticationManager" />
	</bean>
	<bean id="parseXlsFile" class="idas.chox.web.scheduler.ParseXlsFile" scope="singleton">
		<property name="claimService" ref="claimService" />
	</bean>

	<bean name="eracJob" class="org.springframework.scheduling.quartz.JobDetailBean" autowire="autodetect">
		<property name="jobClass" value="idas.chox.web.scheduler.EracJob" />
		<property name="jobDataAsMap">
			<map>
				<entry key="imapMailReceiver" value-ref="imapMailReceiver" />
				<entry key="parseXlsFile" value-ref="parseXlsFile" />
				<entry key="userDetailsService" value-ref="userDetailsService" />
				<entry key="authenticationManager" value-ref="authenticationManager" />
    		</map>
		</property>
	</bean>

	<!-- Simple Trigger -->
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="eracJob" />
		<property name="repeatInterval" value="30000" />
		<property name="startDelay" value="1000" />
	</bean>

	<!-- Cron Trigger -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="eracJob" />
		<property name="cronExpression" value="0/5 * * * * ?" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="autoStartup" value="true" />
		<!-- <property name="configLocation"> -->
		<!-- <value>classpath:quartz.properties</value> -->
		<!-- </property> -->
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.jobStore.class">org.quartz.simpl.RAMJobStore</prop>
				<prop key="org.quartz.jobStore.misfireThreshold">60000</prop>
			</props>
		</property>


		<property name="jobDetails">
			<list>
				<ref bean="eracJob" />
			</list>
		</property>

		<property name="triggers">
			<list>
				<ref bean="simpleTrigger" />
			</list>
		</property>

	</bean>

</beans>