<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="workflowContext" class="idas.chox.service.workflow.ClaimProcessWorkflowContext">
        <property name="dataService" ref="dataService" />
        <property name="businessRulesEngService" ref="businessRulesEngService" />
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
        <property name="automaticRoutingService" ref="automaticRoutingService"/>
    </bean>
    <bean id="activityFactory" class="idas.chox.service.workflow.ActivityFactory">
        <property name="workflowContext" ref="workflowContext"></property>
    </bean>

    <bean id="newClaim" class="idas.chox.service.workflow.activities.NewClaim">
        <property name="chainActivity" ref="workgroupRouting" />
    </bean>
    <bean id="assignOwner" class="idas.chox.service.workflow.activities.AssignOwner"/>
    <bean id="assignWorkgroup" class="idas.chox.service.workflow.activities.AssignWorkgroup">
        <property name="chainActivity" ref="claimOwnerAssigning" />
    </bean>
    <bean id="acknowledgeClaim" class="idas.chox.service.workflow.activities.AcknowledgeClaim"/>
    <bean id="workgroupRouting" class="idas.chox.service.workflow.activities.WorkgroupRouting">
        <property name="chainActivity" ref="claimOwnerAssigning" />
    </bean>
    <bean id="claimOwnerAssigning" class="idas.chox.service.workflow.activities.ClaimOwnerAssigning"/>
</beans>
