<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:s="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	
    <bean id="imapMailReceiver" class="idas.chox.web.scheduler.ImapMailReceiver" scope="prototype">
        <property name="mailHost" value="${mailHost}"/>
        <property name="mailStoreProtocol" value="${mailStoreProtocol}"/>
        <property name="mailPort" value="${mailPort}"/>
        <property name="mailFolder" value="${mailFolder}"/>
        <property name="emailAccount" value="${emailAccount}"/>
        <property name="emailAccountPassword" value="${emailAccountPassword}"/>
    </bean>
	
    <bean id ="serverConfig" class="idas.chox.web.scheduler.ServerConfig" scope="singleton"/>
	
    <bean id="mailSecurityAthenticator" class="idas.chox.web.scheduler.MailSecurityAthenticator">
        <property name="authenticationManager" ref="authenticationManager" />
    </bean>
	
    <bean id="xlsFileParser" class="idas.chox.web.scheduler.XlsFileParser" scope="singleton"/>
	
    <bean id="mailUtil" class="idas.chox.web.scheduler.MailUtil" scope="singleton"/>
    
    <!--  Reference update from queued token -->
    <bean id="referenceUpdateDbJob" class="idas.chox.web.scheduler.ReferenceUpdateDbSchedulerJob">
        <property name="mailSecurityAthenticator" ref="mailSecurityAthenticator"/>
        <property name="mailUtil" ref="mailUtil" />
        <property name="securityInfoProvider" ref="securityInfoProvider" />
        <property name="smtpHostName" value="${smtpHostName}"/>
        <property name="smtpPort" value="${smtpPort}"/>
        <property name="smtpEmailUser" value="${smtpEmailUser}"/>
        <property name="smtpEmailPassword" value="${smtpEmailPassword}"/>
        <property name="schedulerJobService" ref="schedulerJobService" />
        <property name="hostName" value="${HOSTNAME}"/>	
        <property name="serverConfig" ref="serverConfig"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="claimService" ref="claimService" />
    </bean>
	

    <!--  CHO Reference Update from email-->
    <bean id="referenceUpdateEmailJob" class="idas.chox.web.scheduler.ReferenceUpdateEmailSchedulerJob">
        <property name="mailSecurityAthenticator" ref="mailSecurityAthenticator"/>
        <property name="xlsFileParser" ref="xlsFileParser"/>
        <property name="mailUtil" ref="mailUtil" />
        <property name="securityInfoProvider" ref="securityInfoProvider" />
        <property name="schedulerJobService" ref="schedulerJobService" />
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="smtpHostName" value="${smtpHostName}"/>
        <property name="smtpPort" value="${smtpPort}"/>
        <property name="smtpEmailUser" value="${smtpEmailUser}"/>
        <property name="smtpEmailPassword" value="${smtpEmailPassword}"/>
        <property name="hostName" value="${HOSTNAME}"/>
        <property name="serverConfig" ref="serverConfig"/>
        <property name="imapMailReceiver" ref="imapMailReceiver" />
        <property name="claimService" ref="claimService" />
    </bean>
        

    <!--  Penalty Charge Start Date Update -->
    <bean id="penaltyStartDateUpdateEmailJob" class="idas.chox.web.scheduler.PenaltyChargeUpdateEmailSchedulerJob">
        <property name="mailSecurityAthenticator" ref="mailSecurityAthenticator"/>
        <property name="xlsFileParser" ref="xlsFileParser"/>
        <property name="mailUtil" ref="mailUtil" />
        <property name="schedulerJobService" ref="schedulerJobService" />
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="smtpHostName" value="${smtpHostName}"/>
        <property name="smtpPort" value="${smtpPort}"/>
        <property name="smtpEmailUser" value="${smtpEmailUser}"/>
        <property name="smtpEmailPassword" value="${smtpEmailPassword}"/>
	<property name="hostName" value="${HOSTNAME}"/>	
        <property name="serverConfig" ref="serverConfig"/>
        <property name="imapMailReceiver" ref="imapMailReceiver" />
        <property name="penaltyChargeService" ref="penaltyChargeService" />
    </bean>
    
    <bean id="ecdUpdateEmailJob" class="idas.chox.web.scheduler.ECDUpdateSchedulerJob">
        <property name="mailSecurityAthenticator" ref="mailSecurityAthenticator"/>
        <property name="xlsFileParser" ref="xlsFileParser"/>
        <property name="mailUtil" ref="mailUtil" />
        <property name="securityInfoProvider" ref="securityInfoProvider" />
        <property name="schedulerJobService" ref="schedulerJobService" />
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="smtpHostName" value="${smtpHostName}"/>
        <property name="smtpPort" value="${smtpPort}"/>
        <property name="smtpEmailUser" value="${smtpEmailUser}"/>
        <property name="smtpEmailPassword" value="${smtpEmailPassword}"/>
	<property name="hostName" value="${HOSTNAME}"/>	
        <property name="serverConfig" ref="serverConfig"/>
        <property name="imapMailReceiver" ref="imapMailReceiver" />
        <property name="claimService" ref="claimService" />
        <property name="activityFactory" ref="activityFactory" />
    </bean>
    
    <bean id="totalLossNotificationEmailJob" class="idas.chox.web.scheduler.TotalLossNotificationSchedulerJob">
        <property name="mailSecurityAthenticator" ref="mailSecurityAthenticator"/>
        <property name="attachmentTypeService" ref="attachmentTypeService" />
        <property name="mailUtil" ref="mailUtil" />
        <property name="securityInfoProvider" ref="securityInfoProvider" />
        <property name="schedulerJobService" ref="schedulerJobService" />
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="smtpHostName" value="${smtpHostName}"/>
        <property name="smtpPort" value="${smtpPort}"/>
        <property name="smtpEmailUser" value="${smtpEmailUser}"/>
        <property name="smtpEmailPassword" value="${smtpEmailPassword}"/>
	<property name="hostName" value="${HOSTNAME}"/>	
        <property name="serverConfig" ref="serverConfig"/>
        <property name="imapMailReceiver" ref="imapMailReceiver" />
        <property name="claimService" ref="claimService" />
        <property name="attachmentService" ref="attachmentService" />
    </bean>
    
    <!--  Stored Procedure call: addMissingEcdTask -->
    <bean id="addMissingEcdTaskJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="addMissingEcdTask"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--  Stored Procedure call: addMissingEcdTask -->
    <bean id="addInvoicePenaltyTaskJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="addInvoicePenaltyTask"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--  Stored Procedure call: applyAutoPenaltyCharge -->
    <bean id="applyAutoPenaltyChargeJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="applyAutoPenaltyCharge"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--  Stored Procedure call: updateDashboard -->
    <bean id="updateDashboardJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="updateDashboard"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!--  Stored Procedure call: updateDashboard -->
    <bean id="updateWorkflowTablesJob" class="idas.chox.web.scheduler.StoredProcSchedulerJob">
        <property name="baseDataService" ref="baseDataService" />
        <property name="storedProcName" value="updateWorkflowTables"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="referenceUpdateDbJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="referenceUpdateDbJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
        
    <bean id="referenceUpdateMailJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="referenceUpdateEmailJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="penaltyStartDateUpdateEmailJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="penaltyStartDateUpdateEmailJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="ecdUpdateMailJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="ecdUpdateEmailJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="totalLossNotificationMailJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="totalLossNotificationEmailJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="addMissingEcdTaskJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="addMissingEcdTaskJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="addInvoicePenaltyTaskJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="addInvoicePenaltyTaskJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="applyAutoPenaltyChargeJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="applyAutoPenaltyChargeJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="updateDashboardJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="updateDashboardJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="updateWorkflowTablesJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="updateWorkflowTablesJob" />
        <property name="targetMethod" value="execute" />
        <property name="concurrent" value="false" />
    </bean>

	<!-- Cron Trigger -->
    <bean id="cronRefDbUpdateTriggerWeek" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="referenceUpdateDbJobDetail" /> 
        <property name="cronExpression" value="0 1 18 ? * 2-6" /> 
    </bean> 
    <bean id="cronRefMailUpdateTriggerWeek" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="referenceUpdateMailJobDetail" /> 
        <property name="cronExpression" value="0 0,30 7-19 ? * 2-6" /> 
    </bean> 
    <bean id="cronRefMailUpdateTriggerWeekend" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="referenceUpdateMailJobDetail" /> 
        <property name="cronExpression" value="0 0/5 8-19 ? * 2-6" /> 
    </bean> 
        
    <bean id="cronPenaltyMailUpdateTriggerWeek" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="penaltyStartDateUpdateEmailJobDetail" /> 
        <property name="cronExpression" value="0 7/5 17-18 ? * 2-6" /> 
    </bean> 
    <bean id="addMissingEcdTaskTriggerWeek" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="addMissingEcdTaskJobDetail" /> 
        <property name="cronExpression" value="0 15 5 ? * 1-7" /> 
    </bean> 
    <bean id="addInvoicePenaltyTaskTriggerWeek" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="addInvoicePenaltyTaskJobDetail" /> 
        <property name="cronExpression" value="0 17 5 ? * 1-7" /> 
    </bean> 
    <bean id="applyAutoPenaltyChargeTriggerWeek" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="applyAutoPenaltyChargeJobDetail" /> 
        <property name="cronExpression" value="0 1 0 ? * 1-7" /> 
    </bean> 
    <bean id="updateDashboardTriggerWeek" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="updateDashboardJobDetail" /> 
        <property name="cronExpression" value="0 15,45 7,9,11,13,15,17 ? * 1-7" /> 
    </bean>
    <bean id="cronECDMailUpdateTriggerWeek" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="ecdUpdateMailJobDetail" /> 
        <property name="cronExpression" value="0 6/30 7-19 ? * 2-6" /> 
    </bean> 
    <bean id="cronECDMailUpdateTriggerWeekend" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="ecdUpdateMailJobDetail" /> 
        <property name="cronExpression" value="0 6/30 8-14 ? * 1,7" /> 
    </bean> 
    <bean id="cronTotalLossNotificationTriggerWeek" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="totalLossNotificationMailJobDetail" /> 
        <property name="cronExpression" value="0 0/5 7-19 ? * 2-6" /> 
    </bean> 
    <bean id="cronTotalLossNotificationTriggerWeekend" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="totalLossNotificationMailJobDetail" /> 
        <property name="cronExpression" value="0 4/30 8-14 ? * 1,7" /> 
    </bean> 
    <bean id="updateWorkflowTablesTriggerWeek" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
        <property name="jobDetail" ref="updateWorkflowTablesJobDetail" /> 
        <property name="cronExpression" value="0 30 23 ? * 1-7" /> 
    </bean> 


    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" destroy-method="destroy">
        <property name="autoStartup" value="${scheduler.active}" />
        <property name="quartzProperties">
            <props>
                <prop key="org.quartz.jobStore.class">org.quartz.simpl.RAMJobStore</prop>
                <prop key="org.quartz.jobStore.misfireThreshold">60000</prop>
                <prop key="org.quartz.threadPool.threadCount">10</prop>
                <prop key="waitForJobsToCompleteOnShutdown">false</prop>
            </props>
        </property>
        <property name="jobDetails">
            <list>
                <ref bean="referenceUpdateMailJobDetail" />
                <ref bean="referenceUpdateDbJobDetail" />
                <ref bean="penaltyStartDateUpdateEmailJobDetail" />
                <ref bean="addMissingEcdTaskJobDetail" />
                <ref bean="addInvoicePenaltyTaskJobDetail" />
                <ref bean="applyAutoPenaltyChargeJobDetail" />
                <ref bean="updateDashboardJobDetail" />
                <ref bean="ecdUpdateMailJobDetail" />
                <ref bean="totalLossNotificationMailJobDetail" />
                <ref bean="updateWorkflowTablesJobDetail" />
            </list>
        </property>
        <property name="triggers">
            <list>
                <ref bean="cronRefMailUpdateTriggerWeek" />
                <ref bean="cronRefMailUpdateTriggerWeekend" />
                <ref bean="cronPenaltyMailUpdateTriggerWeek" />
                <ref bean="cronRefDbUpdateTriggerWeek" />
                <ref bean="addMissingEcdTaskTriggerWeek" />
                <ref bean="addInvoicePenaltyTaskTriggerWeek" />
                <ref bean="applyAutoPenaltyChargeTriggerWeek" />
                <ref bean="updateDashboardTriggerWeek" />
                <ref bean="cronECDMailUpdateTriggerWeek" />
                <ref bean="cronECDMailUpdateTriggerWeekend" />
                <ref bean="cronTotalLossNotificationTriggerWeek" />
                <ref bean="cronTotalLossNotificationTriggerWeekend" />
                <ref bean="updateWorkflowTablesTriggerWeek" />
            </list>
        </property>
    </bean>

</beans>
