<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">
    <bean id="intelligentNoteDisplayEngine" class="idas.chox.service.intelligentNotes.IntelligentNoteDisplayEngine">
        <property name="availableIntelligentNotes">
            <list>
                <bean class="idas.chox.service.intelligentNotes.VehicleClassCheckNote"></bean>
                <bean class="idas.chox.service.intelligentNotes.CHOManagingRepairCheckNote"></bean>
                <bean class="idas.chox.service.intelligentNotes.ComprehensiveCoverCheckNote"></bean>
                <bean class="idas.chox.service.intelligentNotes.ComprehensiveCoverAndInspectionCheckNote"></bean>
                <bean class="idas.chox.service.intelligentNotes.FrontalDamageCheckNote"></bean>
                <bean class="idas.chox.service.intelligentNotes.NeedForSPandPClassCheckWithoutECDNote"></bean>
                <bean class="idas.chox.service.intelligentNotes.TotalLossVehicleCheckNote"></bean>
                <bean class="idas.chox.service.intelligentNotes.UnroadworthyVehicleCheckNote"></bean>
                <bean class="idas.chox.service.intelligentNotes.VehicleClassAboveSCheckNote"></bean>
                <bean class="idas.chox.service.intelligentNotes.RepairBookInDateisThursdayCheck"></bean>
                <bean class="idas.chox.service.intelligentNotes.RepairBookInDateisFridayCheck"></bean>
                <bean class="idas.chox.service.intelligentNotes.RepairBookInDateisSaturdayCheck"></bean>
                <bean class="idas.chox.service.intelligentNotes.RepairBookInDateisSundayCheck"></bean>
                <bean class="idas.chox.service.intelligentNotes.ClaimUploadDateExceeds48FromContact"></bean>
                <bean class="idas.chox.service.intelligentNotes.HireCommenced48hSinceNotificationCheck"></bean>
            </list>
        </property>
        <property name="insurerIntelligentNoteService" ref="insurerIntelligentNoteService"></property>
    </bean>
</beans>