<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="autodetect">
    <bean id="dataValidationParameter" class="idas.chox.service.xml.validations.DataValidationParameter">
         <property name="validateFile" value="/excelTemplate/DataValidationTemplate.xml"/>
    </bean>
    <bean id="bordereauRederContext" class="idas.chox.service.xml.BordereauRederContext">
        <property name="claimService" ref="claimService"/>
        <property name="chorganisationService" ref="chorganisationService"/>
        <property name="breBandService" ref="breBandService"/>
        <property name="vehicleClassService" ref="vehicleClassService"/>
        <property name="insurerAliasService" ref="insurerAliasService"/>
        <property name="insurerChorganisationService" ref="insurerChorganisationService"/>
        <property name="dataValidationParameter" ref="dataValidationParameter"/>
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
        <property name="claimObjectService" ref="claimObjectService"/>
        <!--<property name="businessRuleEngService" ref="businessRuleEngService"/>-->
    </bean>
    <bean id="bordereauReader" class="idas.chox.service.xml.readers.BordereauReader" singleton="false">
        <property name="subEntityReaders">
            <list>
                <bean class="idas.chox.service.xml.readers.ClaimHeaderReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.CustomerReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.ClaimCustomerReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.ClaimCustomerMitigationReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.ClaimThirdPartyReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.ClaimIncidentReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.IncidentWitnessReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.IncidentInjuriesReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.ClaimEngineeringReportReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.ClaimHireMonitoringDetailReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.ClaimVehicleHireReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.InvoiceReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.InvoiceVehiclesReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.InvoiceSupplierReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.InvoiceRepairReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.InvoiceStorageRecoveryReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.InvoiceTotalLossFeeReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.InvoiceEngineeringFeeReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
                <bean class="idas.chox.service.xml.readers.InvoiceExtraReader" singleton="false">
                    <property name="bordereauRederContext" ref="bordereauRederContext"/>
                </bean>
            </list>
        </property>
        <property name="businessRulesEngService" ref="businessRulesEngService"/>
    </bean>
</beans>
