<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd"
    default-autowire="byName" >
    
    <bean id="placeHolderConfig" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="location" value="classpath:application.properties"/>
    </bean>

    <bean id="mappingResource" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <value>hbm/History.hbm.xml</value>
                <value>hbm/WebUser.hbm.xml</value>
                <value>hbm/WebUserRole.hbm.xml</value>
                <value>hbm/BreBandOrganisation.hbm.xml</value>
                <value>hbm/Chorganisation.hbm.xml</value>
                <value>hbm/Claim.hbm.xml</value>
                <value>hbm/Customer.hbm.xml</value>
                <value>hbm/EngineerReport.hbm.xml</value>
                <value>hbm/HireMonitoringDetail.hbm.xml</value>
                <value>hbm/Incident.hbm.xml</value>
                <value>hbm/Injury.hbm.xml</value>
                <value>hbm/Insurer.hbm.xml</value>
                <value>hbm/Invoice.hbm.xml</value>
                <value>hbm/InvoiceOriginal.hbm.xml</value>
                <value>hbm/ThirdParty.hbm.xml</value>
                <value>hbm/VehicleClass.hbm.xml</value>
                <value>hbm/VehicleClassPrice.hbm.xml</value>
                <value>hbm/VehicleClassPriceSpecialRate.hbm.xml</value>
                <value>hbm/VehicleHire.hbm.xml</value>
                <value>hbm/Witness.hbm.xml</value>
                <value>hbm/BreBand.hbm.xml</value>
                <value>hbm/InsurerAlias.hbm.xml</value>
                <value>hbm/Accessibility.hbm.xml</value>
                <value>hbm/AccessibilityItem.hbm.xml</value>
                <value>hbm/Comment.hbm.xml</value>
                <value>hbm/Attachment.hbm.xml</value>
                <value>hbm/HireMonitoringEcd.hbm.xml</value>
                <value>hbm/AuditTrail.hbm.xml</value>
                <value>hbm/ReasonOfRejection.hbm.xml</value>
                <value>hbm/ReasonOfRejectionTemplate.hbm.xml</value>
                <value>hbm/WebUserUserRole.hbm.xml</value>
                <value>hbm/InsurerChorganisation.hbm.xml</value>
                <value>hbm/ReasonOfDelay.hbm.xml</value>
                <value>hbm/AttachmentType.hbm.xml</value>
                <value>hbm/Bordereau.hbm.xml</value>
                <value>hbm/BordereauWithoutFile.hbm.xml</value>
                <value>hbm/Workgroup.hbm.xml</value>
                <value>hbm/WebUserWorkgroup.hbm.xml</value>
                <value>hbm/Notification.hbm.xml</value>
                <value>hbm/VehicleClassCeiling.hbm.xml</value>
                <value>hbm/ProtocolVehicleClassCeiling.hbm.xml</value>
                <value>hbm/AutomaticRouting.hbm.xml</value>
                <value>hbm/AutomaticRoutingPrice.hbm.xml</value>
                <value>hbm/BillingCho.hbm.xml</value>
                <value>hbm/BillingChoDetail.hbm.xml</value>
                <value>hbm/BillingInsurer.hbm.xml</value>
                <value>hbm/BillingInsurerDetail.hbm.xml</value>
                <value>hbm/BillingChoRate.hbm.xml</value>
                <value>hbm/Task.hbm.xml</value>
                <value>hbm/UploadedXMLClaimsDetail.hbm.xml</value>
                <value>hbm/WebBordereau.hbm.xml</value>
                <value>hbm/PasswordHistory.hbm.xml</value>
                <value>hbm/InsurerDiscount.hbm.xml</value>
                <value>hbm/ChorganisationAlias.hbm.xml</value>
                <value>hbm/QueuedTicket.hbm.xml</value>
                <value>hbm/IPWhitelist.hbm.xml</value>
                <value>hbm/AuditEntry.hbm.xml</value>
                <value>hbm/AdminFee.hbm.xml</value>
                <value>hbm/SchedulerJob.hbm.xml</value>
                <value>hbm/InsurerIntelligentNote.hbm.xml</value>
                <value>hbm/PenaltyCharge.hbm.xml</value>
                <value>hbm/AttachmentFile.hbm.xml</value>
                <value>hbm/BreRules.hbm.xml</value>
                <value>hbm/BrePenaltyBand.hbm.xml</value>
            </list>
        </constructor-arg>
    </bean>
    
    <!-- HikariCP configuration for main datasource-->
    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="dataSourceProperties">
            <props>
                <prop key="url">${db.url}</prop>
                <prop key="user">chox_user</prop>
                <prop key="password">ch0xpa33</prop>
            </props>
        </property>
        <property name="poolName" value="hikariCP" />
        <property name="dataSourceClassName" value="org.postgresql.ds.PGSimpleDataSource" />
        <property name="maximumPoolSize" value="${db.maxPoolSize}" />
        <property name="maxLifetime" value="1800000" /> <!-- default 1800000 (30mins) -->
        <property name="idleTimeout" value="600000" /> <!-- default  600000 (10mins) -->
        <property name="leakDetectionThreshold" value="0" /> <!-- default  0 (disabled) -->
    </bean>
    
     <bean id="mainDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="hikariConfig" />
    </bean>

    <!-- HikariCP configuration for Report/MI datasource-->
    <bean id="hikariConfigReports" class="com.zaxxer.hikari.HikariConfig">
        <property name="dataSourceProperties">
            <props>
                <prop key="url">${db.url}</prop>
                <prop key="user">chox_mi</prop>
                <prop key="password">ch0xpa33</prop>
            </props>
        </property>
        <property name="poolName" value="hikariReportCP" />
        <property name="dataSourceClassName" value="org.postgresql.ds.PGSimpleDataSource" />
        <property name="maximumPoolSize" value="${db.maxReportPoolSize}" />
    </bean>
 
    <bean id="reportsDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="hikariConfigReports" />
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="entityInterceptor">
            <ref bean="auditInterceptor"/>
        </property>
        <property name="dataSource">
            <ref bean="mainDataSource" />
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.cache.use_query_cache">false</prop>
<!--                <prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</prop>-->
                <!-- <prop key="net.sf.ehcache.configurationResourceName">/my/path/ehcache.xml</prop> -->
            </props>
        </property>
        <property name="mappingResources">
            <ref bean="mappingResource" /> 
        </property>
    </bean>
    
    <bean id="reportsSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.cache.use_query_cache">false</prop>
<!--                <prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</prop>-->
            </props>
        </property>
        <property name="dataSource">
            <ref bean="reportsDataSource" />
        </property>
        <property name="mappingResources">
            <ref bean="mappingResource" />
        </property>
    </bean>


    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="reportsTransactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="reportsSessionFactory"/>
    </bean>
    
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
    
    <tx:advice id="reportTransactionAdvice" transaction-manager="reportsTransactionManager">
        <tx:attributes>
            <tx:method name="*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    
    <aop:config>
        <aop:pointcut id="reportServiceMethods" expression="execution(* idas.chox.core.services.ReportDataService.*(..))"/>
        <aop:advisor pointcut-ref="reportServiceMethods" advice-ref="reportTransactionAdvice"/>
    </aop:config>
    
    <bean id="securityInfoProvider" class="idas.chox.web.security.WebSecurityInfoProvider"/>

    <bean id="userDetailsService" class="idas.chox.web.security.WebUserService">
        <property name="userService">
            <ref bean="userService" />
        </property>
    </bean>

    <bean id="auditInterceptor" class="idas.chox.data.DBInterceptor">
        <property name="securityInfoProvider" ref="securityInfoProvider"/>
        <!-- The following creates a circular dependency!! -->
        <!--property name="fullAuditService" ref="fullAuditService"/-->
    </bean>

<!--    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

         one of the properties available; the maximum file size in bytes 
        <property name="maxUploadSize" value="30000000"/>
    </bean>-->

    <bean id="hpiCheck" class="idas.chox.core.hpi.Hpi" factory-method="getInstance">
        <property name="active" value="${hpi.active}"/>
        <property name="hpiUrl" value="http://xmlgate.hpi.co.uk/servlet/HpiGate1_0"/>
        <property name="efxidParam" value="0458006"/>
        <property name="passwordParam" value="EXCEL"/>
        <property name="initialsParam" value="er"/>
    </bean>

</beans>
