<included>
    <appender name="S" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/idaschox-springstruts.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/idaschox-springstruts.log.%i</fileNamePattern>
                <!-- keep 90 days' worth of history -->
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                     <!-- or whenever the file size reaches 5MB -->
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="W" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/webServices.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/webServices.log.%i</fileNamePattern>
                <!-- keep 90 days' worth of history -->
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                     <!-- or whenever the file size reaches 5MB -->
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <appender name="C" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/idaschox-ehCacheManager.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/idaschox-ehCacheManager.log.%i</fileNamePattern>
                <!-- keep 90 days' worth of history -->
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                     <!-- or whenever the file size reaches 5MB -->
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="H" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/idaschox-hibernate.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/idaschox-hibernate.log.%i</fileNamePattern>
                <!-- keep 90 days' worth of history -->
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                     <!-- or whenever the file size reaches 5MB -->
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/idaschox.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/idaschox.log.%i</fileNamePattern>
                <!-- keep 90 days' worth of history -->
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                     <!-- or whenever the file size reaches 5MB -->
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="Q" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/idaschox-quartz.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/idaschox-quartz.log.%i</fileNamePattern>
                <!-- keep 90 days' worth of history -->
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                     <!-- or whenever the file size reaches 5MB -->
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
    </appender>
    
   <appender name="socket" class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender"> 
        <Compressing>true</Compressing> 
    <!-- will automatically use correct default port <Port>4560</Port> --> 
    <!-- Default port for compressed is 10000 and uncompressed 10001 --> 
        <ReconnectionDelay>10000</ReconnectionDelay> 
        <IncludeCallerData>true</IncludeCallerData> 
        <RemoteHosts>localhost</RemoteHosts> 
    </appender>
  
    <appender name="CYCLIC"
		class="ch.qos.logback.core.read.CyclicBufferAppender">
        <MaxSize>2048</MaxSize>
    </appender>
    <logger name="org.springframework.scheduling" level="INFO" additivity="false">
        <appender-ref ref="Q"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="socket" />
    </logger>
    <logger name="idas.chox.web.scheduler" level="INFO" additivity="false">
        <appender-ref ref="Q"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="socket" />
    </logger>
    <logger name="org.apache" level="WARN" additivity="false">
        <appender-ref ref="S"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="socket" />
    </logger>
    <logger name="idas.chox.web.ws" level="INFO" additivity="false">
        <appender-ref ref="W"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="socket" />
    </logger>
    <logger name="net.sf.ehcache" level="WARN" additivity="false">
        <appender-ref ref="C"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="socket" />
    </logger>
    <logger name="org.acegisecurity" level="WARN" additivity="false">
        <appender-ref ref="S"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="socket" />
    </logger>
    <logger name="org.hibernate" level="WARN" additivity="false">
        <appender-ref ref="H"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="socket" />
    </logger>
    <logger name="net.sf.jxls" level="ERROR" additivity="false">
        <appender-ref ref="S"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="socket" />
    </logger>
    <logger name="com.opensymphony" level="WARN" additivity="false">
        <appender-ref ref="S"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="socket" />
    </logger>
    <logger name="org.springframework" level="WARN" additivity="false">
        <appender-ref ref="S"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="socket" />
    </logger>
    <logger name="com.jolbox" level="WARN" additivity="false">
        <appender-ref ref="H"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="socket" />
    </logger>
    <logger name="org.quartz" level="INFO" additivity="false">
        <appender-ref ref="Q"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="socket" />
    </logger>
    <logger name="idas.chox" level="INFO" additivity="false">
        <appender-ref ref="R"/>
        <appender-ref ref="CYCLIC" />
        <appender-ref ref="socket" />
    </logger>
    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="CYCLIC" />
    </root>
</included>