<included>
    <appender name="S" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/idaschox-springstruts.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/idaschox-springstruts.log.%i</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <!-- or whenever the file size reaches 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    
    <appender name="mail" class="ch.qos.logback.classic.net.SMTPAppender">
    <!--See http://logback.qos.ch/manual/appenders.html#SMTPAppender-->
    <!--for documentation-->
        <Subject>CHOX Application Error \(Test\)</Subject>
        <SMTPHost>localhost</SMTPHost>
        <To>John.Dowson@valexa.com</To>
        <From>chox@chox-uk01.idasnetwork.com</From>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </layout>
        <cyclicBufferTracker>
      <!-- send just one log entry per email -->
            <bufferSize>1</bufferSize>
        </cyclicBufferTracker>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    
    <appender name="W" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/webServices.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/webServices.log.%i</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <!-- or whenever the file size reaches 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="C" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/idaschox-ehCacheManager.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/idaschox-ehCacheManager.log.%i</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <!-- or whenever the file size reaches 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    
    <appender name="H" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/idaschox-hibernate.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/idaschox-hibernate.log.%i</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <!-- or whenever the file size reaches 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/idaschox.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/idaschox.log.%i</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <!-- or whenever the file size reaches 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    
    
    <appender name="Q" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/idaschox-quartz.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/idaschox-quartz.log.%i</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <!-- or whenever the file size reaches 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    
    <appender name="MQ" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/idaschox-activeMQ.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/idaschox-activeMQ.log.%i</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <!-- or whenever the file size reaches 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="RD" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/idaschox-requestDump.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/idaschox-requestDump.log.%i.zip</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <!-- or whenever the file size reaches 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="CYCLIC"
		class="ch.qos.logback.core.read.CyclicBufferAppender">
        <MaxSize>2048</MaxSize>
    </appender>
    
    <!-- We don't want struts Dispatcher or ActionComponent errors to be emailed, so we will define separate loggers for these -->
    <logger name="org.apache.struts2.dispatcher.Dispatcher" level="WARN" additivity="false">
        <appender-ref ref="S"/>
    </logger>
    <logger name="org.apache.struts2.components.ActionComponent" level="WARN" additivity="false">
        <appender-ref ref="S"/>
    </logger>
    <logger name="org.springframework.scheduling" level="INFO" additivity="false">
        <appender-ref ref="Q"/>
        <appender-ref ref="mail"/>
    </logger>
    <logger name="idas.chox.web.scheduler" level="INFO" additivity="false">
        <appender-ref ref="Q"/>
        <appender-ref ref="mail"/>
    </logger>
    <logger name="org.apache.activemq" level="INFO" additivity="false">
        <appender-ref ref="MQ"/>
    </logger>
    <logger name="org.apache" level="WARN" additivity="false">
        <appender-ref ref="S"/>
        <appender-ref ref="mail"/>
    </logger>
    <logger name="idas.chox.web.ws" level="INFO" additivity="false">
        <appender-ref ref="W"/>
        <appender-ref ref="mail"/>
    </logger>
    <logger name="net.sf.ehcache" level="WARN" additivity="false">
        <appender-ref ref="C"/>
        <appender-ref ref="mail"/>
    </logger>
    <logger name="org.acegisecurity" level="WARN" additivity="false">
        <appender-ref ref="S"/>
        <appender-ref ref="mail"/>
    </logger>
    <logger name="org.hibernate" level="WARN" additivity="false">
        <appender-ref ref="H"/>
        <appender-ref ref="mail"/>
    </logger>
    <logger name="net.sf.jxls" level="ERROR" additivity="false">
        <appender-ref ref="S"/>
        <appender-ref ref="mail"/>
    </logger>
    <logger name="com.opensymphony" level="WARN" additivity="false">
        <appender-ref ref="S"/>
        <appender-ref ref="mail"/>
    </logger>
    <logger name="org.springframework" level="WARN" additivity="false">
        <appender-ref ref="S"/>
        <appender-ref ref="mail"/>
    </logger>
    <logger name="org.quartz" level="INFO" additivity="false">
        <appender-ref ref="Q"/>
        <appender-ref ref="mail"/>
    </logger>
    <!-- Set following to DEBUG to log POST requests, to TRACE to log all requests and the POST response-->
    <logger name="idas.chox.web.RequestDumpFilter" level="INFO" additivity="false">
        <appender-ref ref="RD"/>
    </logger>
    <logger name="idas.chox" level="INFO" additivity="false">
        <appender-ref ref="R"/>
        <appender-ref ref="mail"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</included>
